<!doctype html>
<html ng-app="mwgApp" lang="en-US">
<head>
  <meta charset="utf-8">
  <title ng-bind="title || 'McCann Worldgroup | Global Network of Advertising Agencies'">McCann Worldgroup | Global Network of Advertising Agencies</title>

  <!-- stage:baseUrl /mwg-regional-site/site/stage/ -->
  <base href="/">
  <!-- endbuild -->
  <link rel="canonical" href="https://www.mccannworldgroup.com/" />
  <meta name="description" content="{{description || 'McCann Worldgroup is a leading global marketing services company with an integrated network of advertising agencies in over 120 countries'}}">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta property="og:title" content="McCann Worldgroup | Global Network of Advertising Agencies" />
  <meta property="og:type" content="Website" />
  <meta property="og:url" content="https://www.mccannworldgroup.com/" />
  <meta property="og:description" content="McCann Worldgroup is a leading global marketing services company with an integrated network of advertising agencies in over 120 countries" />
  <meta property="og:image" content="https://www.mccannworldgroup.com/images/social-share.jpg" />
  <meta property="twitter:card" content="Summary" />
  <meta property="twitter:url" content="https://www.mccannworldgroup.com/" />
  <meta property="twitter:image" content="https://www.mccannworldgroup.com/images/social-share.jpg" />
  <meta property="twitter:title" content="McCann Worldgroup | Global Network of Advertising Agencies" />
  <meta property="twitter:description" content="McCann Worldgroup is a leading global marketing services company with an integrated network of advertising agencies in over 120 countries" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css">

<!-- OneTrust Cookies Consent Notice start -->

<script src="https://optanon.blob.core.windows.net/consent/2a113afe-24e3-4edd-8781-267074af89bf-test.js" type="text/javascript" charset="UTF-8"></script>

<script type="text/javascript">

function OptanonWrapper() { }

</script>

<!-- OneTrust Cookies Consent Notice end -->


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css({.tmp,dev}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css" />
  <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.theme.default.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <script async type="text/javascript" src="//fast.fonts.net/jsapi/570efe76-be1e-4bc5-af9a-59e1106ee00d.js"></script>

  <script async type="text/javascript" src="modernizr-custom.js"></script>
</head>
<body ng-cloak class="{{this_route()}}_view">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <a href="#main_content" id="skip_nav">Skip to main content</a>

      <!-- Add your site or application content here -->
      <div id="header" offset="205" tolerence="5" class="header" ng-class="{'overlay' : $root.overlayMenu}">
        <div class="header-container navbar navbar-default" role="navigation" ng-controller="HeaderCtrl">
          <div class="container" ng-swipe-left="next()" ng-swipe-right="prev()">
            <div class="navbar-header">
              <h1 class="logo">
                <a class="navbar-brand" ng-click="gotToHome()">
                    <span>McCann Worldgroup</span>
                </a>
              </h1>
              <a class="nav_link prev_button" href="#" ng-class="{'visible':mobileAboutMenuOpen && (isMobile || (isTablet && $root.isWork)) , 'inactive':!prevActive}" ng-click="prev()">Previous <i class="icon-arrow_left"></i></a>
              <a class="nav_link next_button" href="#" ng-class="{'visible':mobileAboutMenuOpen && (isMobile || (isTablet && $root.isWork)), 'inactive':!nextActive}" ng-click="next()">Next <i class="icon-arrow_right"></i></a>
              <a class="nav_link menu_button" href="#" ng-class="{'visible':!mobileMenuOpen && !mobileAboutMenuOpen}" ng-click="toggleMenu()">Toggle Menu <i class="icon-hamburger"></i></a>
              <a class="nav_link close_button" ng-href=""  ng-class="{'visible': (mobileMenuOpen || mobileAboutMenuOpen)}" ng-click="closeMenu()">Close Menu <i class="icon-close"></i></a>
              <a class="nav_link regionalMenuButton" ng-href="#" ng-click="openRegionalMenuMobile()" ng-class="{'visible': (isMobile || isTablet) && !mobileMenuOpen && !mobileAboutMenuOpen}"><span>MW Network</span></a>
            </div>
            <div class="collapse" ng-class="{'visible':mobileMenuOpen}">
              <ul class="nav navbar-nav" du-spy-context >
                <li du-scrollspy="workPin" ><a  href="#workSection" offset="{{ ( isMobile ?  50 : 90) }}" du-smooth-scroll ng-click="closeMenu()"  >Work</a></li>
                <li du-scrollspy="about"  ng-class="{'hidden': isMobile}" ><a href="#about" du-smooth-scroll ng-click="closeMenu()">About</a></li>
                <li du-scrollspy="network"   ng-class="{'hidden': isMobile}" ><a href="#network" du-smooth-scroll  ng-click="closeMenu()"  >Network</a></li>
                <li du-scrollspy="leadership"  ng-class="{'hidden': isMobile}"><a href="#leadership" offset="{{0}}" du-smooth-scroll ng-click="closeMenu()" ng-click="closeMenu()">Leadership</a></li>
                <li du-scrollspy="career" ><a href="#career" offset="{{ ( isMobile ?  50 : 90) }}" du-smooth-scroll ng-click="closeMenu()">Careers</a></li>
                <li  du-scrollspy="contact"  ><a href="#contact" offset="{{ isMobile ? 50 : 90 }}" du-smooth-scroll ng-click="closeMenu()">Contact</a></li>
                <li class="region_link" ng-show="globalMenuItems.length > 0"   ng-mouseover="openRegionalMenu()" ng-mouseleave="closeRegionalMenu()" >
                  <a class="regionalMenuButton" ng-class="{'menuOpen':regionalMenuOpen,'hidden': isTablet || isMobile }" gitng-href="#" ng-click="openRegionalMenu()"><span>MW Network</span></a>
                  <ul class="collapse regionalMenu" ng-class="{'visible':regionalMenuOpen}">
                    <li>
                        <a ng-href="https://www.mccannworldgroup.com/" target="_blank">GLOBAL</a>
                    </li>
                    <li ng-repeat="menuItem in globalMenuItems" ng-class="{ 'active' : menuItem.isCurrentDoamin }">
                        <a ng-href="{{menuItem.url}}" target="_blank">{{menuItem.post_title}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container site_container" id="main_content">
        <div ng-view="" autoscroll="true"></div>
      </div>

      <div class="footer">
        <p>&copy;{{currentYear}} <a href="https://www.mccannworldgroup.com">McCann Worldgroup</a></p>
        <ul class="nav footer-nav">
          <li class="followus" ng-class="{'collapsed':!mobileSocialFooter}">
            <a href="#" class="mobileOnly" ng-click="toggleSocialFooter()">Follow us</a>
            <social-media></social-media>
          </li>
          <li><a ng-href="privacy">Privacy Notice</a></li>
          <li><a ng-href="terms">Terms of Use</a></li>
        </ul>

      </div>


      <script type="text/plain" class="optanon-category-2">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-99250419-1', 'auto');
        ga('send', 'pageview');
      </script>

      <script src="https://player.vimeo.com/api/player.js"></script>


      <script async src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.10.2/paper-full.min.js"></script>

      <!-- build:js({.tmp,dev}) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
      <script src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
      <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
      <script src="bower_components/angular-scroll-magic/angular-scroll-magic.js"></script>
      <script src="bower_components/underscore/underscore.js"></script>
      <script src="bower_components/bLazy/blazy.js"></script>
      <script src="bower_components/svg4everybody/dist/svg4everybody.js"></script>
      <script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.js"></script>
      <script src="bower_components/angular-scroll/angular-scroll.js"></script>
      <!-- endbower -->
      <!-- endbuild -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/ScrollToPlugin.min.js"></script>

      <!-- tmp files -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNT4aSy75bVQIUmlqXr9sD0GcyRfYnT9Q"></script>


      <!-- build:js({.tmp,dev}) scripts/scripts.js -->
      <script type="text/javascript" src="scripts/gmaps.js"></script>
      <script type="text/javascript" src="scripts/infobox_packed.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/header.js"></script>
      <script src="scripts/controllers/home.js"></script>
      <script src="scripts/controllers/work.js"></script>
      <script src="scripts/controllers/expertise.js"></script>
      <script src="scripts/controllers/about.js"></script>
      <script src="scripts/controllers/news.js"></script>
      <script src="scripts/controllers/careers.js"></script>
      <script src="scripts/controllers/contact.js"></script>
      <script src="scripts/controllers/privacy.js"></script>
      <script src="scripts/controllers/terms.js"></script>
      <script src="scripts/directives/owlcarousel.js"></script>
      <script src="scripts/controllers/work-detail.js"></script>

      <script src="scripts/services/wpservice.js"></script>

      <script src="scripts/controllers/about-people.js"></script>
      <script src="scripts/controllers/about-people-detail.js"></script>
      <script src="scripts/directives/jquery.flipping_text.js"></script>
      <script src="scripts/controllers/404.js"></script>
      <script src="scripts/directives/emitlastrepeat.js"></script>
      <!-- endbuild -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

    </body>
    </html>
