.table-wrapper {
  overflow-x: auto;
  height: calc(100% - 70px);
  margin-top: 70px;
}
.nav {
  position: fixed;
  width: calc(100% - 40px);
}
.nav li:last-child {
  float: right;
}
td {
  white-space: nowrap;
}
.status {
  font-weight: bold;
}
.geocode > div {
  float: left;
  padding: 5px;
  // background: #eee;
}
[type="number"] {
  width: 50px;
}
body {
  padding: 20px;
}
/*td:first-child:not(.edit),
th:first-child {
  display: none;
}*/
h3 + a {
  position: relative;
  top: -10px;
}
.edit .glyphicon {
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}
.edit .glyphicon-plus {
  color: #337ab7;
}
.edit .glyphicon-remove {
  color: #dd1144;
}
tr:last-child {
  background: #fff !important;
}
tr:last-child td > .btn {
  opacity: 1;
}
tr:hover .btn {
  opacity: 1;
}
td > .btn {
  /*float: right;*/
  margin-right: 40px;
  opacity: 1;
}
td:last-child {
  // text-align: right;
}
span.thumb {
  display: inline-block;
  height: 80px;
  background-color: #ccc;
  background-size: cover;
  width: 100px;
}
small:not(:empty):before {
  content: '- ';
}