<div class="overlay_content overlay_work_detail" >
  <div class="bio_detail">

    <section class="bio_header">
      <h3 ng-if="vm.person.acf.first_name">{{vm.person.acf.first_name}} <span>{{vm.person.acf.last_name}}</span></h3>
      <h4 ng-if="vm.person.acf.title">{{vm.person.acf.title}} <span ng-bind-html="vm.person.acf.agency.name"></span></h4>
      <div class="photo" style="background-image: url({{vm.person.acf.profile_images[0].image.url}})">
        {{::person.acf.last_name}} Headshot
      </div>
      <ul class="social">
        <li ng-if="vm.person.acf.linkedin" class="li"><a href="{{vm.person.acf.linkedin}}" target="_blank">LinkedIn<i class="icon-linkedin"></i></a></li>
        <li ng-if="vm.person.acf.twitter" class="tw"><a href="{{vm.person.acf.twitter}}" target="_blank">Twitter<i class="icon-twitter"></i></a></li>
      </ul>
    </section>

    <article class="bio_article" ng-bind-html="vm.person.acf.biography"></article>

  </div>
</div>
