<div class="overlay_content overlay_about_approach">

  <div class="about_image intro">
    <p class="blurb">Whether it's a piece of technology that makes life easier, or a story that inspires people to think differently; our integrated marketing experts have the talent, tools and ideas to make and curate everything a brand can do to earn its way into people's lives.</p>
  </div>

  <div class="about_text approach">
    <h2>Approach</h2>
    <div class="columns">
      <p class="wide">To identify the meaningful role a brand can play, we start by understanding people and what motivates them. How they move through life. How they interact with other people, brands and media forms.</p>
      <div class="split">
        <p>Then we dig deep to find a powerful truth about the brand or business challenge.</p>
        <p>Human, categorical, or cultural, a powerful truth sets creativity free and enables our integrated marketing experts to craft work that connects more deeply with people no matter the segment or goal.</p>
        <p>When we connect with people, we move them, and, in turn, we move the market.</p>
      </div>
    </div>
  </div>

  <div class="about_image t2m">
    <h2>Truth2Meaning</h2>
    <p class="blurb">We share a common strategic approach called Truth2Meaning. It's as much about bespoke, flexible tools, as a global way of working together designed to unlock creativity and growth for our clients' brands.</p>
    <img src="../images/3_1_approach_logo_t2m.svg" alt="Truth2Meaning logo" />
  </div>

  <div class="about_text mtc">
    <h2>McCann <span class="mobileWrap">Truth Central</span></h2>
    <div class="columns">
      <p class="wide">Our global intelligence unit is dedicated to unearthing the macro level truths that drive people's attitudes and behaviors about life, brands and marketing.</p>
      <div class="split">
        <p>Our team of trend and insight experts regularly author global studies packed with actionable perspectives that are as creative as they are analytically sharp.</p>
        <p>McCann Truth Central has conducted over 20 global studies including Truth about Youth, Truth about Moms, Truth about Wellness, Truth about Global Brands, just to name a few.</p>
      </div>
    </div>
    <a href="/about/truth"><img src="../images/3_1_approach_logo_mtc.svg" alt="McCann Truth Central" /></a>
  </div>

</div>
