<div class="overlay_content overlay_about_truth">

  <div class="intro">
    <h2>{{::vm.headerText[0].header_text}}</h2>
  </div>

  <div class="summaries top">
    <a ng-href="{{::vm.downloads[0].file}}" target="new" class="summary" id="sum1" ng-style="{'background-image' : 'url(' + vm.downloads[0].image + ')'}">
      <span class="details">
        <h3>{{::vm.downloads[0].line_1}}<strong>{{::vm.downloads[0].line_2}}</strong></h3>
        <span>{{::vm.downloads[0].download_link_text}} <i class="icon-arrow_right"></i></span>
      </span>
    </a>
    <a ng-href="{{::vm.downloads[1].file}}" target="new" class="summary" id="sum2" ng-style="{'background-image' : 'url(' + vm.downloads[1].image + ')'}">
      <span class="details">
        <h3>{{::vm.downloads[1].line_1}}<strong>{{::vm.downloads[1].line_2}}</strong></h3>
        <span>{{::vm.downloads[1].download_link_text}} <i class="icon-arrow_right"></i></span>
      </span>
    </a>
  </div>

  <p class="blurb">{{::vm.headerText[1].header_text}}</p>

  <div class="video">
    <a href="#" ng-click="showvideo=true">
      <span class="details">
        <h3>{{::vm.video_line_1}} <strong>{{::vm.video_line_2}}</strong></h3>
        <span>{{::vm.watch_video_text}}<i class="icon-arrow_right"></i></span>
      </span>
    </a>
    <iframe ng-show="showvideo" ng-src="{{::vm.vimeoUrl}}" ng-click="vm.videoActive=true" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <p class="blurb line">{{::vm.headerText[2].header_text}}</p>

  <div class="summaries bottom">
    <a ng-href="{{::vm.downloads[2].file}}" target="new" class="summary" id="sum3" ng-style="{'background-image' : 'url(' + vm.downloads[2].image + ')'}">
      <span class="details">
        <h3>{{::vm.downloads[2].line_1}}<strong>{{::vm.downloads[2].line_2}}</strong></h3>
        <span>{{::vm.downloads[2].download_link_text}} <i class="icon-arrow_right"></i></span>
      </span>
    </a>
    <a ng-href="{{::vm.downloads[3].file}}" target="new" class="summary" id="sum4" ng-style="{'background-image' : 'url(' + vm.downloads[3].image + ')'}">
      <span class="details">
        <h3>{{::vm.downloads[3].line_1}}<strong>{{::vm.downloads[3].line_2}}</strong></h3>
        <span>{{::vm.downloads[3].download_link_text}} <i class="icon-arrow_right"></i></span>
      </span>
    </a>
  </div>

  <div class="outro">

    <p class="blurb line">{{::vm.headerText[3].header_text}}</p>

    <div class="contact">
      <a class="last_minute_a_h4" href="mailto:truthcentral@mccann.com?subject=Truth%20Central%20Inquiry"><h4>Contact</h4></a>
      <div class="info"><div class="info_inner">
        <span class="address">622 Third Avenue, <span>New York, NY 10017</span></span>
        <span class="email"><a href="mailto:truthcentral@mccann.com?subject=Truth%20Central%20Inquiry">truthcentral@mccann.com</a></span>
      </div></div>
<!--
      <ul class="social">
        <li class="fb"><a href="http://facebook.com/McCannW-G?sk=app_139229522811253/" target="_blank">Facebook</a><i class="icon-facebook"></i></li>
        <li class="ig"><a href="http://twitter.com/McCannTruth/" target="_blank">Twitter</a><i class="icon-twitter"></i></li>
      </ul>
 -->
    </div>

  </div>

</div>
