<div class="section_about_people" id="leadership">

  <h3>Leadership</h3>

  <div class="people_holder">

    <data-owl-carousel  class="carousel owl-carousel">

      <div  owl-carousel-item="" data-options="{navigation: true, pagination: false, rewindNav : false } "class="slide" id="{{person.slug}}" ng-repeat="person in vm.people" on-repeat-last>

        <span class="background" style="background-image: url({{::person.acf.profile_images[0].image.url}})">{{::person.acf.last_name}} Headshot</span>

        <h4>{{::person.acf.first_name}} {{::person.acf.last_name}}</h4>

        <h5 ng-if="::person.acf.title.length > 0 ">{{::person.acf.title}}</h5>
        <h5>{{::person.acf.agency.name}}</h5>

        <a href="about/leadership/{{person.slug}}">View Bio</a>
      </div>
    </data-owl-carousel >
  </div>

</div>
