<div class="container section_about">

  <div class="desktopOnly">
    <div owl-carousel start-immediately="true" pagination="false" transitionstyle="'fade'">
      <div class="slide"><h2><span>MWG Most Awarded Network in North America &ndash; Cannes Lions</span></h2></div>
      <div class="slide"><h2><span>LIA Network of the Year &amp; Agency of the Year &ndash; McCann NY</span></h2></div>
      <div class="slide"><h2><span>Golden Drum Network of the Year</span></h2></div>
      <div class="slide"><h2><span>3 for 3 in LATAM, FIAP, El Sol &amp; El Ojo Network of the Year</span></h2></div>
      <div class="slide"><h2><span>McCann Health Cannes Lions Health Network of the Year</span></h2></div>
    </div>
  </div>

  <div class="grid-noGutter-equalHeight" sm-scene="aboutScene1" trigger-hook="1" offset="'25%'">
    <div class="col-5_sm-12">
      <div class="about_block approach left" sm-class-toggle="aboutScene1" classes="'active'">
        <p class="mobileOnly intro">Our 24,000 people around the world work together to help brands play a meaningful role in people’s lives.</p>
        <a href="/about/approach">
          <div class="centering_outer">
            <div class="centering_inner">
              <h3>Approach</h3>
              <p class="desktopOnly">At McCann Worldgroup, we're united across 100+ countries by a single mission: to help brands play a meaningful role in people’s lives.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-7">
      <a href="/about/approach">
        <span class="hidden">Approach</span>
        <div class="image" style="background-image:url(images/3_about_bg_1_desktop.png);"></div>
      </a>
    </div>
  </div>

  <div class="grid-noGutter-equalHeight row_switch">
    <div class="col-7">
      <a href="/expertise">
        <span class="hidden">Expertise</span>
        <div class="image" style="background-image:url(images/3_about_bg_2_desktop.png);"></div>
      </a>
    </div>
    <div class="col-5 row_switch_bottom" sm-scene="aboutScene2" trigger-hook="1" offset="'25%'">
      <div class="about_block integration right" sm-class-toggle="aboutScene2" classes="'active'">
        <a href="/expertise">
          <div class="centering_outer">
            <div class="centering_inner">
              <h3>Integration</h3>
              <p class="desktopOnly">Within the McCann Worldgroup integrated network, 42 of our 50 top clients are serviced by multiple disciplines and 38 out of 50 are serviced in multiple regions.</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-5 row_switch_top" sm-scene="aboutScene3" trigger-hook="1" offset="'25%'">
      <div class="about_block leadership left" sm-class-toggle="aboutScene3" classes="'active'">
        <a href="/about/leadership">
          <div class="centering_outer">
            <div class="centering_inner">
              <h3>Leadership</h3>
              <p class="desktopOnly">We're a collection of marketing experts with cross-discipline fluency.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-7">
      <a href="/about/leadership">
        <span class="hidden">Leadership</span>
        <div class="image top" style="background-image:url(images/3_about_bg_3_desktop.jpg);"></div>
      </a>
    </div>
  </div>

  <div class="grid-noGutter-equalHeight" sm-scene="aboutScene4" trigger-hook="1" offset="'25%'">
    <div class="col-7">
      <a href="/about/truth">
        <span class="hidden">Truth</span>
        <div class="image" style="background-image:url(images/3_about_bg_4_desktop.png);"></div>
      </a>
    </div>
    <div class="col-5_sm-12">
      <div class="about_block truth right" sm-class-toggle="aboutScene4" classes="'active'">
        <a href="/about/truth">
          <div class="centering_outer">
            <div class="centering_inner">
              <h3>McCann <br /> Truth Central</h3>
              <p class="desktopOnly">It all starts with a truth. An inspirational. Provocative. Powder keg of a truth.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="subfooter">
    <p>McCann Worldgroup, the world's most creatively effective marketing services company, is dedicated to helping brands play a meaningful role in people's lives. With over 20,000 employees in more than 100 countries, the network includes: McCann (advertising), MRM//McCann (digital marketing/relationship management), Momentum Worldwide (sponsorship & experiential), McCann Health (professional/dtc communications), CRAFT (global production), Weber Shandwick (public relations), FutureBrand (consulting/design) and PMK•BNC (entertainment/popular culture). McCann Worldgroup is part of the Interpublic&nbsp;Group&nbsp;(NYSE:&nbsp;IPG).</p>
  </div>

</div>


















