<div class="section_careers">
  <span class="spacing">
    <!-- added space to compensate for the total height of the section -->
  </span>
  <h2>Work <span>with us</span></h2>
  <h3>{{vm.workWithUsData.copy}}</h3>
  <a href="{{vm.workWithUsData.link}}" class="link_jobs" target="_new">{{vm.workWithUsData.label}}</a>

  <div class="footer_work">
    <a href="{{vm.workWithUsData.link}}" target="_blank" alt="{{vm.workWithUsData.label}}">Explore All Global Jobs</a>
  </div>

</div>

