<div class="section_contact" id="contact">

  <h2><span>We'd love to hear from you</span></h2>

  <div class="container grid-noGutter contacts">
    <div class="contact-slots desktop">
      <div class="col-4 new-business">
        <div class="title">New Business</div>
        <div class="person">{{vm.contactSlot.new_business.name}}</div>
        <div class="phone">{{vm.contactSlot.new_business.phone}}</div>
        <div class="email"><a aria-label="Mail to {{vm.contactSlot.new_business.email}}" href="mailto:{{vm.contactSlot.new_business.email}}">{{vm.contactSlot.new_business.email}}</a></div>
      </div>
      <div class="col-4 media-inquiries">
        <div class="title">Media Inquiries</div>
        <div class="person">{{vm.contactSlot.media_inquiries.name}}</div>
        <div class="phone">{{vm.contactSlot.media_inquiries.phone}}</div>
        <div class="email"><a href="mailto:{{vm.contactSlot.media_inquiries.email}}">{{vm.contactSlot.media_inquiries.email}}</a></div>
      </div>
      <div class="col-4">
        <div class="title">Career Inquiries</div>
        <div class="person">{{vm.contactSlot.career_inquiries.name}}</div>
        <div class="phone">{{vm.contactSlot.career_inquiries.phone}}</div>
        <div class="email"><a href="mailto:{{vm.contactSlot.career_inquiries.email}}">{{vm.contactSlot.media_inquiries.email}}</a></div>
      </div>
    </div>
    <div class="contact-slots-tabs">
      <input id="tab1" type="radio" name="tabs" checked="checked">
      <label for="tab1">New Business</label>
      <input id="tab2" type="radio" name="tabs">
      <label for="tab2">Media Inquiries</label>
      <input id="tab3" type="radio" name="tabs">
      <label for="tab3">Career Inquiries</label>
        
      <section id="newBussinessContentTab" class="fade">
        <div class="person">{{vm.contactSlot.new_business.name}}</div>
        <div class="phone">{{vm.contactSlot.new_business.phone}}</div>
        <div class="email"><a aria-label="Mail to {{vm.contactSlot.new_business.email}}" href="mailto:{{vm.contactSlot.new_business.email}}">{{vm.contactSlot.new_business.email}}</a></div>
      </section>
      <section id="mediaInquiriesTab" class="fade">
        <div class="person">{{vm.contactSlot.media_inquiries.name}}</div>
        <div class="phone">{{vm.contactSlot.media_inquiries.phone}}</div>
        <div class="email"><a href="mailto:{{vm.contactSlot.media_inquiries.email}}">{{vm.contactSlot.media_inquiries.email}}</a></div>
      </section>
      <section id="careerTab" class="fade">
        <div class="person">{{vm.contactSlot.career_inquiries.name}}</div>
        <div class="phone">{{vm.contactSlot.career_inquiries.phone}}</div>
        <div class="email"><a href="mailto:{{vm.contactSlot.career_inquiries.email}}">{{vm.contactSlot.media_inquiries.email}}</a></div>
      </section>
    </div>
    <div class="col-12 mwhq">
      <div class="hq_title title">MW {{vm.region}} Headquarters</div>
      <div class="hq_address hq_info">
        <span>{{vm.headquarterAddress}}</span>
      </div>
      <div class="hq_phone hq_info">{{vm.headquarterPhone}}</div>
      <div class="footer_work">
        <a href="https://www.mccannworldgroup.com/contact" alt="See All Global Offices" target="_blank">See All Global Offices</a>
      </div>
    </div>
  </div>

  <section id="map_canvas"></section>

</div>
