<div class="section_expertise">

  <div class="expertise-agencies">

    <h3>To meet our mission of helping marketers grow their businesses, McCann Worldgroup has assembled a constellation of leading marketing communications brands.</h3>

    <div class="grid-reverse-noGutter top">

      <div class="col-4" ng-class="{'hidden':vm.mobileMenuOpen,'super-hidden':vm.mobileDetailsOpen}">

        <div class="expertise" ng-show="vm.workView=='multi-platform'">
          <h2 ng-if="!vm.currentExpertise&&vm.workView=='multi-platform'" class="animate-if">
            <span class="desktopOnly">
              Our Universe<br>
              of Best-In-Class<br>
              Marketing Expertise
            </span>
            <a aria-label="Go to expertise" href="#" class="icon-arrow_down mobileOnly" ng-click="vm.expandList('expertise')"></a>
          </h2>
        </div>
        <div class="agencies" ng-show="vm.workView=='multi-agency'">
          <h2 ng-if="!vm.currentAgency&&vm.workView=='multi-agency'" class="animate-if">
            <span class="desktopOnly">
              A Truly Integrated<br>
              Network of Specialty<br>
              Marketing Agencies
            </span>
            <a href="#" class="icon-arrow_down mobileOnly" ng-click="vm.expandList('agencies')"></a>
          </h2>
          
        </div>

        <nav>
          <a href="#"  aria-label="Switch to Competencies" ng-click="vm.setWorkView('multi-platform')" ng-class="{'active':vm.workView=='multi-platform'}">Competencies</a>
          <a href="#" aria-label="Switch to Agencies" ng-click="vm.setWorkView('multi-agency')" ng-class="{'active':vm.workView=='multi-agency'}">Agencies</a>
        </nav>

      </div>

      <div class="col-8" ng-class="{'visible':vm.mobileMenuOpen&&!vm.mobileDetailsOpen,'hidden':vm.mobileDetailsOpen}">
        <div class="amoeba">
        <!-- {{vm.currentExpertise}} -->
        <!-- {{vm.currentAgency}} -->
          <canvas id="amoeba"></canvas>

          <div class="logo" ng-class="{'hidden':(vm.workView=='multi-platform'&&vm.currentExpertise)||(vm.workView=='multi-agency'&&vm.currentAgency)}"></div>

          <div class="expertise-list ~desktopOnly" ng-show="vm.workView=='multi-platform'">

            <!-- desktop repeater -->
            <span ng-repeat="item in vm.expertise" ng-if="vm.workView=='multi-platform'" class="desktopOnly">
              <a href="#" aria-hidden="true" role="presentation" class="amoeba-item e{{$index+1}} expertise-item" ng-click="vm.showExpertise($index)" ng-class="{'active':item.acf.expertise_name==vm.currentExpertise,'inactive':vm.currentExpertise&&item.acf.expertise_name!=vm.currentExpertise}" style="left:0;top:0">
                <span><span ng-bind-html="item.acf.expertise_name"></span></span>
              </a>
              <div class="associated animate-if" ng-if="item.acf.expertise_name==vm.currentExpertise">
                <span ng-repeat="agency in item.acf.associated_agencies | filter:{ID:undefined}">
                  <span>
                    <svg ng-class="agency.slug"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href agency-svg="{{agency.slug}}"></use></svg>
                  </span>
                </span>
              </div>
            </span>

            <!-- mobile repeater (different order) -->
            <span ng-repeat="item in vm.expertiseMobile | orderBy: 'acf.order/1'" ng-if="vm.workView=='multi-platform'" class="mobileOnly">
              <a href="#" aria-hidden="true" role="presentation" class="amoeba-item e{{$index+1}} expertise-item" ng-click="vm.showExpertise($index)" ng-class="{'active':item.acf.expertise_name==vm.currentExpertise,'inactive':vm.currentExpertise&&item.acf.expertise_name!=vm.currentExpertise}" style="left:0;top:0">
                <span><span ng-bind-html="item.acf.expertise_name"></span><i class="icon-arrow_right"></i></span>
              </a>
            </span>

          </div>

          <div class="agency-list ~desktopOnly" ng-show="vm.workView=='multi-agency'">

            <!-- desktop repeater -->
            <span ng-repeat="item in vm.agencies" ng-if="vm.workView=='multi-agency'" class="desktopOnly">
              <a href="#"  aria-hidden="true" role="presentation" class="amoeba-item  e{{$index+1}} agency-item" ng-click="vm.showAgency($index)" ng-class="{'active':item.acf.agency_name==vm.currentAgency,'inactive':vm.currentAgency&&item.acf.agency_name!=vm.currentAgency}" style="left:0;top:0">
                <span><svg ng-class="item.slug"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href agency-svg="{{item.slug}}"></use></svg></span>
              </a>
              <div class="associated animate-if" ng-if="item.acf.agency_name==vm.currentAgency">
                <span ng-repeat="expertise in item.acf.associated_expertise | filter:{ID:undefined}">
                  <span ng-bind-html="expertise.name"></span>
                </span>
              </div>
            </span>

            <!-- mobile repeater (different order) -->
            <span ng-repeat="item in vm.agenciesMobile" ng-if="vm.workView=='multi-agency'" class="mobileOnly">
              <a href=expertise/{{item.slug}} aria-hidden="true" role="presentation" class="amoeba-item  e{{$index+1}} agency-item" ng-click="vm.showAgency($index)" ng-class="{'active':item.acf.agency_name==vm.currentAgency,'inactive':vm.currentAgency&&item.acf.agency_name!=vm.currentAgency}" style="left:0;top:0">
                <span><span>{{item.acf.agency_name}}</span><i class="icon-arrow_right mobileOnly"></i></span>
              </a>
            </span>

          </div>

        </div>
      </div>

      <!-- <a href="#" ng-click="vm.reset()" ng-show="true" class="reset">RESET {{vm.currentExpertiseIndex}}:{{vm.currentAgencyIndex}}</a> -->


    </div>
  </div>

</div>
<!-- <script type="text/paperscript" canvas="test" src="/scripts/amoeba.js"></script> -->
