<div class="home_hero">

  <div class="home_hero_bg_container">
    <div  class="home_hero_bg" style="background-image: url({{vm.hero}})" /> 
  </div>
  <div class="home_hero_wrapper">
    <div  class="home_hero_content">
      <div class="floated-inner">
          <h1 class="hero_region">McCann Worldgroup UK</h1>
        
          <h2 class="hero_tagline">
              Our strategic, creative and business teams have the talent, tools and ideas to deliver integrated multi-platform campaigns that help brands grow through impactful marketing communications.
          </h2>
        
          <a du-scrollspy="workPin" du-smooth-scroll href="#workSection"  class="hero_scroll" alt="Scrolll to Works section">Scroll to Content</a>
      </div>
    </div>
  </div>

</div>

<div  id="workSection" >
   <div id="workPin" style="position:relative;">
     <div class="work" ng-include src="'views/work.html'" ng-controller="WorkCtrl as vm"></div>
   </div>
</div>

<div class="home_carousel"  id="about" >
  <div owl-carousel-1 class="carousel owl-carousel">

    <div on-repeat-last ng-repeat="item in vm.aboutContent" owl-carousel-item-1=""  class="slide">
      <div class="centering_outer">
        <div class="centering_inner">
            <h3>{{::item.title.rendered}}</h3>
            <p ng-bind-html="::item.content.rendered"></p>
        </div>
      </div>
    </div>

  </div>
  <ul  class="owl-dots carousel-dots">
    <li   ng-repeat="(key, item) in vm.aboutContent" class="{{ key == 0  ?  'active' : '' }}">
        <button   aria-label="Slide to about item  " class="owl-dot" role="button">{{item.acf.panel_indicator}}</button>
    </li>
  </ul>
</div>

<div id="network">
  <div id="expertiseSectionPinWrapper">
    <div  ng-include src="'views/expertise.html'" class="expertise" ng-controller="ExpertiseCtrl as vm"></div>
  </div>
</div>

<div id="leadershipSection">
  <div ng-include src="'views/about-people.html'" class="leadership" ng-controller="AboutPeopleCtrl as vm"></div>
</div>

<div id="career" ng-include src="'views/careers.html'" ng-controller="CareersCtrl as vm"></div>

<div id="contactSection">
  <div id="contactSectionPinWrapper">
    <div ng-include src="'views/contact.html'" ng-controller="ContactCtrl as vm" onload="vm.onLoad()"></div>
  </div>
</div>

<div id="footer-content" style="background-color: black">
  <div class="footerLogo">
    <img src="images/logo.svg" alt="">
  </div>
  <div class="mccann_description">
    <p>{{vm.mccann_description}}</p>
  </div>
  
  
  <div sm-scene="logoScene" trigger-hook="1" offset="150">
    <ul class="mccann_logos" classes="'highlight'">
      <li ng-repeat="agency in vm.agencies | orderBy: 'acf.order'" class="{{agency.slug}}">
        <a href="{{agency.acf.url}}" aria-label="link to {{agency.title.rendered}}" target="_blank"><span class="hidden">Link to {{agency.title.rendered}}'s website</span>
          <svg class="logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href agency-svg="{{agency.slug}}"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</div>

