<div class="section_news">

  <div class="hero">

    <div class="search_area" ng-class="{'visible' : vm.searchEnabled}">
      <form>
        <label class="hidden" for="search">Search</label>
        <input id="search" name="search" ng-model="vm.query" tabindex="-1" type="text" placeholder="Enter Search" />
        <button ng-click="vm.search(vm.query)" tabindex="-1">Search <i class="icon-search"></i></button>
        <a class="cancel_link" href="#" ng-click="vm.closeSearch()">Close <i class="icon-cancel"></i></a>
      </form>
    </div>

    <a  aria-label="Search"  href="#" class="search_link" ng-click="vm.openSearch()" ng-class="{'hidden' : vm.searchEnabled}">Search <i class="icon-search"></i></a>

    <div owl-carousel startitem="vm.slide" class="carousel" playonce="true">
      <div on-last-repeat ng-repeat="item in vm.featuredNews" class="slide slide_{{$index+1}}" ng-style="{'background-image':(item.acf.featured_image!=='')?'url({{item.acf.featured_image}})':''}" ng-style="" ng-class="{'no_image':item.acf.featured_image===''}">
        <div class="centering_outer">
          <div class="centering_inner">
            <a href="{{item.acf.url}}" target="_blank" tabindex="0">
              <img ng-if="item.acf.publication_logo !== ''" class="logo" alt="{{::item.acf.publication.name}}" ng-src="{{::item.acf.publication_logo}}" />
              <h2 ng-bind-html="item.title.rendered"></h2>
              <span ng-if="item.acf.featured_image !== ''" class="tag" ng-bind-html="::item.acf.publication.name"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">

    <div class="grid-3-noGutter-equalHeight_md-1">

      <div ng-repeat="newsItem in vm.news" class="col animate">
        <a href="{{::newsItem.acf.url}}" class="centering_outer" target="_blank">
          <div class="centering_inner">
            <h3 ng-bind-html="::newsItem.title.rendered | ellipsis:true:80"></h3>
            <span class="tag" ng-bind-html="::newsItem.acf.publication.name"></span>
          </div>
        </a>
      </div>

      <div ng-show="vm.news.length===0" class="animate col col-12 no-results">
        <div class="centering_outer">
          <div class="centering_inner">
            <h3>Nothing found for <strong>{{vm.queryInput}}</strong>.</h3>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
