<ul class="social">
    <li class="fb"><a href="{{ facebook }}" alt="{{facebook}}" target="_blank" >{{facebook}}</a><i class="icon-facebook"></i></li>
    <li class="li"><a href="{{ linkedin }}" alt="{{linkedin}}" target="_blank">{{ linkedin }}</a><i class="icon-linkedin"></i></li>
    <li class="ig"><a href="{{ instagram }}" alt="{{instagram}}" target="_blank">{{ instagram }}</a><i class="icon-instagram"></i></li> 
</ul>