<div class="overlay_content overlay_work_detail" ng-swipe-left="vm.goNext()" ng-swipe-right="vm.goPrev()">

  <div class="hero">
    <div class="vimeo_action" ng-if="vm.vimeoUrl" ng-click="vm.playVideo()" ng-keydown="[13, 32].includes($event.keyCode) && vm.playVideo()" tabindex="0" style="background-image:url({{vm.detail[0].acf.vimeo_poster.url}})">
      <div style="background-image:url({{vm.detail[0].acf.vimeo_poster.url}})" ng-class="{'active':vm.videoActive}" class="poster"></div>
      <iframe ng-src="{{vm.vimeoUrl}}" ng-click="vm.videoActive=true" frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <span class="play" ng-class="{'hide':vm.videoActive}"></span>
      <!-- vm.videoActive: {{vm.videoActive}} -->
    </div>
    <div ng-if="!vm.vimeoUrl" style="background-image:url({{vm.detail[0].acf.hero_image_h.url}})" ng-click="vm.videoActive=true">
      <!-- vm.videoActive: {{vm.videoActive}} -->
      <!-- <img src="{{vm.detail[0].acf.featured_image_hero.url}}" alt="{{vm.detail[0].title.rendered}}"> -->
    </div>
  </div>

  <article class="work_detail">
    <section class="intro">
    <h4>{{vm.detail[0].acf.client.name}} <span ng-if="vm.detail[0].acf.brand" ng-bind-html="vm.detail[0].acf.brand"></span></h4>
      <h3 ng-bind-html="vm.detail[0].title.rendered"></h3>
      <p ng-bind-html="vm.detail[0].content.rendered"></p>
    </section>
    <section class="awards" ng-class="{'hidden':vm.detail[0].acf.awards==0}">
      <h4>Awards</h4>
      <div class="award_holder">
        <div ng-repeat="award in vm.detail[0].acf.awards"><img ng-src="{{award.name.url}}" alt="{{award.name.alt}}" /></div>
      </div>
    </section>
    <section class="role">
      <h4 ng-hide="!vm.detail[0].acf.tagline_text">{{vm.detail[0].acf.tagline_title}}</h4>
      <p>{{vm.detail[0].acf.tagline_text}}</p>
    </section>
    <section class="extra">
      <div class="agencies" ng-hide="!vm.detail[0].acf.agencies.length">
        <h4>Integrated Agencies</h4>
        <ul>
          <li ng-repeat="agency in vm.detail[0].acf.agencies">{{agency.name}}</li>
          <!-- <li>McCann London</li>
          <li>m:united//McCann</li>
          <li>Momentum WW London</li>
          <li>MRM Meteorite</li>
          <li>Craft London</li> -->
        </ul>
      </div>
      <div class="tags" ng-hide="!vm.detail[0].acf.expertise.length">
        <h4>Expertise</h4>
        <ul>
          <li ng-repeat="expertise in vm.detail[0].acf.expertise">{{expertise.name}}</li>
          <!-- <li>Experiential</li>
          <li>Outdoor</li>
          <li>Direct</li>
          <li>Promo</li>
          <li>Integrated</li>
          <li>Media</li>
          <li>Print</li> -->
        </ul>
      </div>
    </section>
  </article>

  <nav class="webring">
    <div class="prev" ng-class="{'visibility-hidden':!vm.prevItem}">
      <a href="" aria-label="Go to previous work"  ng-click="vm.goPrev()">
      <span class="co">{{vm.prevItem.acf.client.name}} <b ng-bind-html="vm.prevItem.acf.brand"></b></span>
        <span class="campaign">{{vm.prevItem.post_title  || vm.prevItem.title.rendered}}</span>
      </a>
    </div>
    <a class="close" href="" ng-click="vm.closeItem()">
      Close Overlay <i class="icon-close"></i>
    </a>
    <div class="next" ng-class="{'visibility-hidden':!vm.nextItem}">
      <a href=""  aria-label="go to next work" ng-click="vm.goNext()">
        <span class="co">{{vm.nextItem.acf.client.name}} <b ng-bind-html="vm.nextItem.acf.brand"></b></span>
        <span class="campaign">{{vm.nextItem.post_title || vm.nextItem.title.rendered}}</span>
      </a>
    </div>
  </nav>

</div>


