<div class="section_work" id="work">
  <div class="grid-2-noGutter-equalHeight_sm-1">
    <div class="col work_link" ng-repeat="item in vm.featuredWork" emit-last-repeat>
      <a ng-click="vm.goToWorkItem(item.post_name, false)" href="">
        <div class="centering_outer">
          <div class="centering_inner">
            <div class="bg_image horz b-lazy" data-blazy="{{::item.acf.featured_image_h.url}}"></div>
            <div class="bg_image vert b-lazy" data-blazy="{{::item.acf.featured_image_v.url}}"></div>
            <h3 class="work_title">{{::item.acf.client.name}}<span ng-if="item.acf.brand">&nbsp;<span ng-bind-html="::item.acf.brand"></span></span></h3>
            <h4 class="work_subtitle">{{::item.post_title}}</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="footer_work">
    <a href="https://www.mccannworldgroup.com/work" target="_blank" alt="Explore all global work" >Explore all global work</a>
  </div>
</div>
