<div class="active" ng-swipe-left="vm.goNextClient()" ng-swipe-right="vm.goPreviousClient()">
  <nav class="brands_nav fade" ng-show="vm.activeClient">
    <ul>
      <li class="prev" ng-class="{'inactive':vm.activeIndex==0}" >
        <a href="#"  ng-click="vm.goPreviousClient()"><i class="icon-arrow_left"></i> Previous Brand </a>
      </li>
      <li class="scroll"><a href="#" ng-click="vm.scrollUp()">Scroll Up <i class="icon-arrow_up"></i></a></li>
      <li class="next" ng-class="{'inactive':vm.activeIndex==vm.clients.length-1}">
        <a href="#" ng-click="vm.goNextClient()">Next Brand <i class="icon-arrow_right"></i></a>
      </li>
    </ul>
  </nav>

  <ul class="brand_logos" sm-class-toggle="logoScene" classes="'highlight'">
    <li ng-repeat="client in vm.clients" ng-class="{'shown' : client.id === vm.activeClient.id || !vm.activeClient, 'active':client.id === vm.activeClient.id}">
      <a href="#" ng-click="vm.showClient(client, $index);">
        <img ng-src="{{::client.acf.client_logo.url}}" alt="{{::client.acf.client_logo.alt}}" class="logo">
      </a>
    </li>
  </ul>
</div>

<!-- desktop content repeater -->
<div class="brand_detail fade" ng-if="vm.activeClient" ng-swipe-left="vm.goNextClient()" ng-swipe-right="vm.goPreviousClient()">
  <div class="grid-noGutter">
    <div class="col-4_sm-12">
      <h2>{{vm.activeClient.acf.tagline}}</h2>
    </div>
    <div class="col-7_sm-12" data-push-left="off-1_sm-0">
      <p ng-bind-html="vm.activeClient.acf.description"></p>
    </div>
  </div>
  <div class="container">
    <div class="grid-noGutter-equalHeight">
      <div class="col-6_sm-12 work_link" ng-repeat="item in vm.activeClient.acf.related_work">
        <a ng-click="vm.goToWorkItem(item.post_name, vm.activeClient)" href="">
          <div class="centering_outer">
            <div class="centering_inner">
              <div class="bg_image horz" style="background-image: url({{item.acf.featured_image_h.url}})"></div>
              <div class="bg_image vert" style="background-image: url({{item.acf.featured_image_v.urll}})"></div>
              <h4>{{item.client}}</h4>
              <h3>{{item.post_title}}</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
