


.section_about_people {
  .clearfix;
  color: @black;
  background: @white;
  z-index: 5;
  h3 {
    margin: 135px auto 65px;
    .futura-heavy(80);
    font-size: 36px;
    line-height: 2.25;
    text-align: center;
    text-transform: uppercase;
  }
  .people_holder {
    height: 510px;
    margin: 0 auto;
    .owl-nav{
      display: none;
    }
    .slide {
      position: relative;
      padding: 276px 20px 20px;
      a {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .hidetext;
      }
      .background {
        .hidetext;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 256px;
      }
      h4 {
        margin-bottom: 15px;
        .futura-heavy(90);
        font-size: 21px;
        line-height: 1;
        position: relative;
        padding-bottom: 20px;
        &:after {
          content: "";
          position: absolute;
          z-index: 2;
          bottom: 0;
          left:0;
          width: 30px;
          border-bottom: solid 3px black;
          @media @tablet {
            content: "";
            left: 0;
            width: 24px;
            border-bottom-width: 2px;
          }
        }
      }
      h5 {
        .futura-medium(145);
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
      }
      &:hover {
        .background {
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: @black;
            opacity: .2;
          }
        }
      }
    } //  .slide
    .owl-dots {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 35px;
      button.owl-dot {
        width: 12px;
        height: 12px;
        margin: 0 9px;
        background: @carousel-dots;
        border-radius: 50%;
        &.active {
          background: @black;
        }
      }
    } //  .owl-dots
  } //  .people_holder

  @media @mobile {
    display: none;
  } //  @mobile


  @media @desktop {
    max-width: 100%;
    .people_holder {
      .slide {
        padding-top: 320px;
        .background {
          height: 300px;
        }
      }
    }
  } //  @desktop

} //  .section_about_people



.bio_detail {
  display: flex;
  flex-flow: column;
  .clearfix;
  margin: 0 16%;
  padding-top: 90px;
  padding-bottom: 65px;
  margin-top:85px;
  .bio_header {
    h3 {
      .separator(30, @black);
      margin-bottom: 30px;
      .futura-heavy(100);
      font-size: 26px;
      line-height: 1.2;
      &:after {
        left: 0;
      }
    }
    h4 {
      margin-bottom: 40px;
      .futura-heavy(200);
      span {
        display: block;
      }
    }
    .photo {
      .hidetext;
      width: 256px;
      height: 256px;
      margin-bottom: 40px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    .social {
      .clearfix;
      margin-bottom: 55px;
      li {
        position: relative;
        float: left;
        margin-left: 0;
        width: 85px;
        height: 85px;
        line-height: 85px;
        font-size: 35px;
        background: @yellow;
        &:first-child {
          margin-left: 0;
        }
        a {
          .hidetext;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          i {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            text-align: center;
            text-indent: 0;
          }
        }
        :hover{
          color : rgba(0,0,0,.6);
        }
      }
    }
  } //  .bio_header
  .bio_article {
    flex: 1 100%;
    max-width: 460px;
    p {
      margin-bottom: 45px;
      .futura-book(75);
      font-size: 16px;
      line-height: 1.75;
    }
  }

  @media @desktop {

    flex-direction: row;
    margin: 85px 120px 0;
    .bio_header {
      width: 300px;
      margin-right: 85px;
      .photo {
        width: 300px;
        height: 300px;
      }
    }
    .bio_article {
      max-width: 500px;
    }

  } // @desktop

  @media screen and (max-width:1399px) and (min-width: 1200px){
    margin: 85px 100px 0;
  }

} //  .bio_detail


html.touchevents {

  /* turning off parallax for touch devices since it isn't supported */
  div[class*="about_"], .video, .intro {
    background-attachment: local !important;
  }

  /* so the hover link doesn't light people up on devices when scrolling */
  .section_about_people {
    .col:hover {
      .block {
        z-index: 1;
        .info {
          display: none;
        }
      }
      a:after {
        background: rgba(0,0,0, 0.5);
      }
    } //  .col:hover
    .col.active {
      .block {
        .info {
          display: block;
        }
      }
    }
  } //  .section_about_people

} //  .touchevents
