.section_careers {
    z-index: 5;
  .spacing{
    display: block;
    background: white;
    height: 200px;
  }

  @media @mobile {
    .spacing{
      display: none;
    }
  }
  

  .clearfix;
  background: @gray-bg-jobs;
  padding-bottom: 80px;
  h2 {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 80px auto 0;
    width: 310px;
    padding: 40px 30px;
    color: @white;
    .futura-heavy(200);
    font-size: 29px;
    line-height: 1.5;
    text-transform: uppercase;
    background: @black;
    span {
      display: block;
    }
  }
  h3 {
    display: block;
    margin: 60px auto 70px;
    width: 80%;
    max-width: 750px;
    .futura-book(75);
    font-size: 15px;
    line-height: 1.9;
    text-align: center;
  }
  .link_jobs {
    display: block;
    width: 200px;
    height: 80px;
    margin: 0 auto;
    .futura-heavy(200);
    font-size: 14px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    background: @yellow;
    .transition(all 300ms ease);
    &:hover {
      background: @gray-btn-bg;
      color: @yellow;
    }
  }

  @media @tablet {

    padding-bottom: 70px;
    h2 {
      margin-top: -70px;
      width: 437px;
      padding: 55px 45px;
      color: @white;
      .futura-heavy(200);
      font-size: 40px;
    }
    h3 {
      .futura-book(0);
      font-size: 24px;
      line-height: 1.5;
      margin: 105px auto 70px;
    }

  } //  @tablet

} //  .section_careers
