@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#contactSection{
  position:relative;
  top:0;
}


.contact-slots-tabs{
  display:flex !important;
  flex-flow:row wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 220px;
  padding: 5% 0;
  margin: auto;
  max-width: 600px;
  input{
    display: none;
  }
  section{
    width:100%;
  }
  label{
		font-family: 'Futura LT W01 Heavy', Futura, Helvetica, Arial, sans-serif;
		letter-spacing: 0.1em;
    border-bottom: 5px solid transparent;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
    &:after{
      content: "";
      position:absolute;
      bottom:0;
      right: 0;
      left: 0;
      height:4px solid gray;
    }
  }

  #tab1:checked + label,
  #tab2:checked + label,
  #tab3:checked + label{
    border-bottom: 5px solid #000000;
    color:black;

  }
  
  
  
  #tab1:checked ~ #newBussinessContentTab,
  #tab2:checked ~ #mediaInquiriesTab,
  #tab3:checked ~ #careerTab{
    display: block !important;
    opacity: 1;
    transition: opacity .5s;
  }
  section{
    display:none;
    position:relative;
    padding-top: 20px;
    opacity: 0;
    &:after{
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      height: 2px;
      background: #97A3A7;
      z-index: -1;
    }
  }
}

.section_contact {
  box-sizing: border-box;
  padding: 0 18px;
  background: #000000;
  h2 {
    display: table;
    width: 100%;
    height: 165px;
    .futura-book(50);
    color: @white;
    font-size: 27px;
    line-height: 1.3;
    text-align: center;
    span {
      display: table-cell;
      vertical-align: middle;
      padding: 0 5%;
    }
  }

  .contacts {
    margin: 0 auto;
    background: @white;
    position: relative;
    z-index: 2;
    > * {
      text-align: center;
    }
    .contact-slots{
      display: none;
      justify-content: center;
      width: 100%;
    }

    
    .title {
      .futura-heavy(320);
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 17px;
      font-size: 12px;
      text-transform: uppercase;
      &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 30px;
        height: 0;
        border-bottom: solid 3px @black;
      }
    }
    .person,
    .region {
      .futura-heavy(100);
      font-size: 21px;
      line-height: 22px;
      a {
        white-space: nowrap;
      }
    }
    .phone {
      .futura-heavy(200);
      font-size: 14px;
      line-height: 27px;
      padding-top: 5px;
    }
    .email {
      .futura-medium(200);
      font-size: 10px;
      text-transform: uppercase;
      line-height: 26px;
    }
    .mwhq {
      margin-top: 10px;
      padding: 60px 30px;
      background: @gray-light;
      @media screen and ( max-width: 767px) {
        padding: 50px 30px 30px;        
      }
    }
    .hq_title {
      width: 80%;
      margin: 0 auto 45px;
      .futura-heavy(160);
      font-size: 14px;
      line-height: 1.4;
    }
    .hq_info {
      margin-bottom: 20px;
      .futura-medium(150);
      font-size: 12px;
      line-height: 1.5;
      text-transform: uppercase;
      span {
        display: block;
      }
    }
    .hq_address {
      display: block;
    }
  } //  .contacts

  a[href^="mailto:"]:hover {
    text-decoration: underline;
  }

  @media @mobile {
    h2 {
      span {
        // padding: 0 20%;
      }
    }
    .contacts {
      width: 100%;
      padding: 50px 0 0;
      .contact-slots{
        display: block;
        padding-bottom: 25px;
      }
      .contact-slots-tabs{
        display: none !important;
      }
      .col-4 {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0 30px 30px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
    } //  .contacts

    #map_canvas {
      display: none;
    }
  } //  @mobile

  @media @tablet {
    padding: 0;
    h2 {
      font-size: 34px;
    }
    .contacts {
      width: 100%;
      .col-4 {
        padding: 50px 20px 40px;

      }
      .title:after {
        border-width: 2px;
      }
      .media-inquiries.title {
        font-size: 12px;
      }
      .mwhq {
        padding: 25px 30px 0;
      }
      .hq_title {
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1.8;
        &:after {
          display: none;
        }
      }
      .hq_info {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.8;
      }
      .hq_address {
        span {
          display: inline-block;
        }
      }
      .hq_phone {
        position: relative;
        padding-bottom: 13px;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 30px;
          height: 0;
          border-bottom: solid 2px @black;
        }
      }
    } //  .contacts

    #map_canvas {
      width: 100%;
      height: 565px;
      background: @gray;
    }
  } //  @tablet

  @media @desktop {
    position: relative;
    h2 {
      height: 210px;
    }
    .contacts {
      position: absolute;
      top: 175px;
      left: calc(~"(100% - 900px) / 2");
      max-width: 900px;
      .contact-slots{
        display: flex;
      }
      .contact-slots-tabs{
        display: none !important;
      }
    }
    #map_canvas {
      width: 100%;
      height: 88vh;
      min-height: 800px;
    }
  } //  @desktop

// hide google branding from maps {
  a[href^="http://maps.google.com/maps"]{display:none !important}
  a[href^="https://maps.google.com/maps"]{display:none !important}

  .gmnoprint a, .gmnoprint span, .gm-style-cc {
      display:none;
  }
  .gmnoprint div {
      display: none;
  }

  .infobox {
    animation: fade-in 300ms 0ms 1 ease;
    position: absolute;
    // top: 50%;
    left: 20px;
    transform: translateY(-65%);
    min-width: 140px;
    .futura-book;
    font-size: 13px;
    &.hq {
      left: 40px;
      transform: translateY(-95%);
      div:first-child {
        display: block;
      }
    }
    div {
      padding: 6px 10px;
      &:first-child {
        display: none;
        background: @yellow;
      }
    }
    .details {
      position: relative;
      top: 1px;
      background: @white;
      white-space: nowrap;
    }
  }

} //  .section_contact
