.section_expertise {
  color: @white;
  background: @black;
  padding-top: 1px;
  overflow: hidden;
  z-index: 4;

  h3 {
    width: 70%;
    max-width: 750px;
    margin: 90px auto 0;
    .futura-book(0);
    font-size: 24px;
    line-height: 1.5;
    color: @white;
    text-align: center;
  }

  .top {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: content-box;
    h2 {
      width: auto;
      display: table;
      height: 140px;
      width: 100%;
      .futura-book(150);
      font-size: 26px;
      line-height: 1.5;
      span span {
        // display: table-cell;
        // vertical-align: middle;
        // padding: 0 8%;
        // text-align: center;
        white-space: nowrap;
      }
    }
    .amoeba {
      height: 100%;
      position: relative;
      .logo {
        background: url(../images/logo.svg) center center no-repeat;
        background-size: 40%;
        position: absolute;
        left: 32%;
        top: 31%;
        // transform: translate(-43%, -50%);
        width: 28%;
        height: 28%;
        z-index: 0;
        opacity: 0;
        .transition(all 1000ms ease);
        &.hidden {
          // transform: scale(4, 4);
          opacity: 0 !important;
          // background: #abc;
        }
      }

      canvas {
        // position: fixed;
        top: 0;
        left: 0;
        width: 660px;
        height: 650px;
        opacity: 0;
        // border: 1px solid red;
        .transition(opacity 1000ms ease);
        &.visible, {
          opacity: 1;
          // ~ .expertise-list .expertise-item,
          // ~ .agency-list .expertise-item,
          ~ .logo {
            opacity: 1;
          }
        }
      }
      .expertise-list,
      .agency-list {
        // opacity: 0;
        .amoeba-item {
          position: absolute !important;
          color: #fff;
          font-weight: bold;
          padding: 10px;
          border-radius: 100%;
          .futura-heavy(200);
          text-transform: uppercase;
          font-size: 11px;
          z-index: 10;
          opacity: 0;
          // .transition(opacity 300ms ease);
          // .transition(~"opacity 1000ms ease, transform 300ms ease");
          .transition(~"fill 500ms ease, color 500ms ease, opacity 500ms ease, transform 300ms ease");
          &:before,
          &:after {
            content: "";
            position: absolute;
            border-radius: 100%;
            left: 0;
            top: 0;
            width: 6px;
            height: 6px;
            .transition(all 300ms ease);
          }
          &:before {
            background: @yellow;
          }
          &:after {
            background: rgba(255,255,255,0.4);
            transform: scale(3, 3);
          }
          &:hover,
          &.active {
            &:before {
              transform: scale(3, 3);
              background: #fff;
            }
            &:after{
              background: rgba(255,255,255,1);
            }
            > span {
              transform: scale(1.2, 1.2);
            }
          }
          &.inactive {
            span,
            svg {
              opacity: 0.6;
            }
          }
          > span,
          svg {
            position: absolute;
            // width: 110px;
            // white-space: nowrap;
            // border: 1px solid green;
            .transition(~"opacity 1000ms ease, transform 300ms ease");
          }
          svg {
            // border: 1px solid red;
            position: static;
          }
          > span {
            // width: 110px;
            white-space: nowrap;
            @media @tablet {
              font-size:11px;
            }
          }
          &.q1 > span,
          &.q1 svg {
            // border: 1px solid red;
            // transform: translate(calc(-100% - 20px), -100%);
            right: 30px;
            bottom: 20px;
            transform-origin: right bottom;
            @media @tablet {
              transform-origin: left bottom;
              bottom: 30px;
            }
          }
          &.q2 > span,
          &.q2 > svg {
            // border: 1px solid green;
            // transform: translate(10px, -100%);
            bottom: 30px;
            left: 20px;
            transform-origin: center bottom;
          }
          &.q3 > span,
          &.q3 > svg {
            // border: 1px solid blue;
            transform-origin: left top;
            // position: relative;
            // left: 10px;
          }
          &.q4 > span,
          &.q4 > svg {
            // border: 1px solid yellow;
            // transform: translate(calc(~"-100% - 20px"), 0);
            right: 25px;
            transform-origin: right top;
          }
          &.visible {
            opacity: 1;
          }
          // &:hover > span,
          // &:hover svg,
          // &.active > span,
          // &.active svg {
          //   transform: scale(1.3, 1.3);
          // }
          // &.inactive > span,
          // &.inactive svg {
          //   opacity: 0.4;
          // }
					&.e4 + .associated span:first-of-type
					{
						color: #fff !important; /* UM */
					}
        }
      }
			
			.expertise-list
			{			 
				.amoeba-item {
					&.e2 > span {
						bottom: 35px;
						right: 15px;
					}
					
					&.e4 > span {
						bottom: 10px;
						left: 30px;
					}
					&.e5 > span {
						left: 30px;
						top: -5px;
					}
					&.e6 > span {
						left: 20px;
					}
					&.e7 > span {
						right: 35px;
					}
					&.e8 > span {
						right: 35px;
						top: 20px;
					}
					&.e9 > span {
						bottom: 15px;
					}
				}
			}
			
			.agency-list {
				.amoeba-item {
					&.e3 > span,
					&.e3 svg
					{
						top: -7px;
						left: 20px;
					}

					&.e3 svg
					{
						transform: scale(1.1);
					}
					
					&.e6 > span,
					&.e6 svg
					{
						top: 20px;
					}

					&.e7 > span,
					&.e7 svg
					{
						bottom: 25px;
					}

					&.e8 > span,
					&.e8 svg
					{
						right: -25px;

            @media @tablet {
							transform-origin: right bottom;
              bottom: 20px;
            }
					}

					&.e8 svg
					{
						transform: scale(1.3);
					}
				}
			}

      .associated {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-45%, -45%);
        text-transform: uppercase;
        > span {
          display: block;
          &:last-child {
            span:after {
              content: none;
            }
          }
          span {
            .futura-heavy(300);
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 28px;
            position: relative;
            display: block;
            svg.craft{
              transform: scale(1.1);
            }
						
						
            &:after {
              content: "";
              display: block;
              position: absolute;
              width: 100px;
              bottom: 15px;
              left: 50%;
              transform: translateZ(0) translateX(-50%);
              border-bottom: 1px dotted @white;
            }
          }
					
					&:first-of-type
					{
						color: #7FC7D4;
					}
        }
				
				svg.mrm-mccann
				{
					transform: scale(1.3);
				}
      }
			
			
    }


    nav {
      .clearfix;
      z-index: 1;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      a {
        background: @gray-btn-bg;
        float: left;
        height: 40px;
        line-height: 40px;
        padding: 0 23px;
        text-transform: uppercase;
        .futura-heavy(300);
        font-size: 13px;
        color: @gray-inactive;
        .transition(all 300ms ease);
        &:hover {
          color: @yellow;
        }
        &.active {
          color: @black;
          background: @yellow;
        }
       
      }
    }
    .details {
      * {
        .futura-book(100);
        font-size: 18px;
        line-height: 40px;
      }
      > a {
        .futura-book(300);
        color: @yellow;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 43px;
        position: relative;
        display: inline-block;
        line-height: normal;
        &:hover {
          text-decoration: underline;
        }
        &:after {
          content: '\203a';
          position: absolute;
          right: -20px;
          top: -10px;
          font-size: 25px;
          margin-left: 8px
        }
      }
      .social {
        margin-top: 35px;
        a {
          font-size: 22px;
          opacity: 0.4;
          .transition(opacity 300ms ease);
          &:hover {
            opacity: 1;
          }
          &:before {
            margin-left: 0;
            margin-right: 22px;
          }
        }
      }
    }
  } //  .top
  .featured-work {
    color: @black;
    background: @white;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    .transition(height 300ms ease);
    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      .futura-heavy(300);
    }
    .multi-platform,
    .multi-agency {
      margin: 0 auto;
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      .transition(all 500ms ease);
      &.ng-hide-animate {
        // border: 1px solid red;
      }
      &.ng-hide {
        opacity: 0;
        transform: translate(-50%, 100%);
      }
      &.ng-hide-add {
        // opacity: 0;
        // transform: translateY(100%);
      }
      &.ng-hide-remove {
        // opacity: 0;
        // transform: translateY(100%);
      }
    }
    .col {
      text-align: center;
      .bg_image {
        height: 175px;
        background-size: cover;
        background-position: center center;
        transition: transform 0.5s ease;
      }
      .overflow_contain {
        overflow: hidden;
      }
      a:hover .bg_image {
        transform: scale(1.25);
      }
      h4 {
        .futura-heavy(100);
        font-size: 18px;
        position: relative;
        .separator(12, @black);
      }
      h3 {
        .futura-medium(200);
        font-size: 12px;
        text-transform: uppercase;
      }
    } //  .col
    .multi-platform .col h3 {
      text-transform: none;
    }
  } //  .featured-work

  @media @mobile {
    display: none;
  } //  @mobile

  @media screen and (max-width:768px){
    .expertise-agencies.multi-agency{
      .top{
        .col-8{
          left:80px
        }
      }
    }
  }
  @media @tablet {

    // Canvas left position
   


    .top {
      padding: 30px 0 0;
      // height: 600px;
      h2 {
        position: absolute;
        // border: 1px solid red;
        // width: 50%;
        // left: 50%;
        top: -440px;
        // transform: translateX(-50%);
        text-align: center;
      }
      .amoeba {
        .associated {
          // transform: translate(-70%, -50%);
        }
      }
      .col-4 {
        max-width: 100%;
        flex-basis: 100%;
        // border: 1px solid red;
        padding-bottom: 150px;
        nav {
          display: flex;
          justify-content: center;
          position: relative;
        }
        .expertise,
        .agencies {
          .clearfix;
          width: 600px;
          position: relative;
          margin: 700px auto 0;
          // border: 1px solid red;
          height: 0;
          .transition(height 300ms ease);
        }
      }
      .col-8 {
        max-width: 100%;
        flex-basis: 100%;
        position: absolute;
        left: 73px;
        // border: 1px solid red;
        .logo {
          display: none;
        }
      }
    }
    .featured-work {
      height: 368px;
      .multi-platform,
      .multi-agency {
        width: calc(~"100% - 40px");
        h2 {
          margin: 30px auto 35px;
        }
        h4 {
          margin: 22px 0 10px;
        }
      }
      .col {
        .bg_image.vert {
          display: none;
        }
      }
    }
  } //  @tablet

  @media @desktop {
    .top {
      .col-8 {
        left: 280px;
      }
    }
  }


  @media @desktop-wide {
    .featured-work {
      .multi-platform,
      .multi-agency {
        max-width: 1200px;
      }
    }
    .top {
      .col-8 {
        left: 380px;
      }
    }
  } //  @desktop-wide


  // global SVG styles
  svg {
    fill: @white;
    &.mccann {
      width: 93px;
      height: 17px;
    }
    &.mrm-mccann {
      width: 140px;
      height: 19px;
    }
    &.mccann-health {
      width: 81px;
      height: 25px;
    }
    &.momentum {
      width: 110px;
      height: 15px;
    }
    &.craft {
      width: 100px;
      height: 19px;
      margin-right: 0.5em;
    }
    &.pmk-bnc {
      width: 87px;
      height: 35px;
    }
    &.united-mccann {
      width: 39px;
      height: 39px;
    }
    &.weber-shandwick {
      width: 76px;
      height: 21px;
      margin-left: 1em;
    }
    &.futurebrand {
      width: 109px;
      height: 14px;
    }
  }
} //  .section_expertise





// animation utility classes
.animate-if {
}
.animate-if.ng-enter, .animate-if.ng-leave {
  .transition(all 1000ms ease);
  position: absolute !important;
  @media @mobile {
    position: relative !important;
    .transition(all 300ms ease);
  }
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
  // transform: translateY(100%);
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
  // transform: translateY(0%);
}
.reset {
  background: @yellow;
  position: absolute;
  left: 0;
  top: 73px;
  font-size: 14px;
  color: @gray;
  padding: 5px 10px;
  z-index: 100;
}
@media @tablet {
  .reset {
     background: #f00;
     display: none !important;
  }
}
