html {
    -webkit-font-smoothing: antialiased;
}


.futura-light(@tracking: 50) {
  font-family:'Futura LT W01 Light', Futura, Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: unit((@tracking/1000), em);
}
.futura-book(@tracking: 75) {
  font-family:'Futura LT W01 Book', Futura, Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: unit((@tracking/1000), em);
}
.futura-medium(@tracking: 200) {
  font-family:'Futura LT W01 Medium', Futura, Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: unit((@tracking/1000), em);
}
.futura-heavy(@tracking: 100) {
  font-family:'Futura LT W01 Heavy', Futura, Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: unit((@tracking/1000), em);
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("../font/webfonts/fa-brands-400.eot");
  src: url("../font/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.woff") format("woff"), url("../webfonts/fa-brands-400.ttf") format("truetype"), url("../webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }



@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?99177391');
  src: url('../font/fontello.eot?99177391#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?99177391') format('woff2'),
       url('../font/fontello.woff?99177391') format('woff'),
       url('../font/fontello.ttf?99177391') format('truetype'),
       url('../font/fontello.svg?99177391#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99177391#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-arrow_down:before { content: '\e800'; } /* '' */
.icon-arrow_right:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-hamburger:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-arrow_left:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-arrow_up:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-grid:before { content: '\e80b'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-globe:before { content: '\e810'; } /* '' */
.icon-linkout:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e826'; } /* '' */
.icon-plus:before { content: '\e827'; } /* '' */
.icon-plus_wide:before { content: '\e828'; } /* '' */
