.scrollmagic-pin-spacer{
  min-width: unset !important;
}

.home_hero {
  .clearfix;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: @white;
  margin-top: 90px;
  position:relative;

  .home_hero_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100%;
    left: 0;
    transform: translateY(-124px);
    @media screen and ( max-width: 1100px ){
      transform: translateY(-95px);
    }
  }

  .block-push-down{
    height:0px;
    width:100%;
  }
  
  .floated-inner{
    position: relative;
    width: 80%;
    left: 0;
    margin:unset;
    @media screen and ( max-width: 380px  ){
      width: 100%;
    }
  }

  .hero_region {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 310px;
    height: 208px;
    padding: 45px;
    margin:auto;
    margin-bottom: 40px;
    color: @white;
    .futura-heavy(200);
    font-size: 28px;
    text-transform: uppercase;
    word-spacing: 500px;
    background: @black;

  }
  .hero_tagline {
    display: block;
    width: 62.5%;
    margin:auto;
    margin-bottom: 55px;
    .futura-book(0);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    @media screen and ( max-width: 767px ) {
      width: 310px;      
    }
  }

  .home_hero_bg_container{
    height:500px;
    position:sticky;
    width: 100%;
  }
  .home_hero_bg {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    left:0;
    top: 89px;
    height: 100%;
  }

  @media @mobile{
    margin-top: 50px;
    .home_hero_bg {
      background-size: cover;
      background-position: center;
      height:300px;
    }



    .home_hero_bg_container{
      height:auto;
      position:relative;
      top:0;
    }

  }
  .home_hero_wrapper{
    position:relative;
    height: 500px;
    min-height: 500px;
    width:100%;
    background: white;


    @media @mobile{
      height: 500px;
    }
    @media screen and ( max-width: 1024px ){
      height: 430px;
      min-height:430px;
    }
  }
  .hero_scroll {
    position: relative;
    display:block;
    width: 60px;
    height: 50px;
    margin-bottom: 30px;
    margin:auto;
    &:extend([class^="icon-"] all);
    &:extend(.icon-arrow_down all);
    height: 50px;
    line-height: 50px;
    .hidetext;
    &:before{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-indent: 0;
      font-size: 30px;
      color: #666a70;
    }
  }



  @media @mobile {
    .hero_scroll {
      display: none;
    }
    .hero_region{
      padding: 0 30px;
    }
  } //  @mobile

  @media @desktop {

    .home_hero_bg {
      height: 500px;
      width:100%;
    }
    .hero_region {
      width: 437px;
      height: 278px;
      font-size: 40px;
    }
    .hero_tagline {
      font-size: 29px;
      line-height: 1.50;
      margin-bottom: 25px;
    }

  } //  @tablet

} //  .home_hero
#workPin{
  z-index: 3;
}
.footer_work {
  .clearfix;
  padding: 30px 0;
  text-align: center;
  color: @black;
  a {
    position: relative;
    .futura-heavy(140);
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 14px;
    &:after {
      &:extend([class^="icon-"]:before);
      &:extend(.icon-linkout:before);
      font-size: 10px;
      text-decoration: none;
      position: absolute;;
      top: 5px;
      right: -20px;
    }
  }

  @media @mobile {
    display: none;
  }

} //  .footer_work


.home_carousel {
  z-index: 3;
  .clearfix;
  padding-top: 0px;
  padding-bottom: 190px;
  min-height: 400px;
  background: @white;
  .carousel {
    height: auto;
    padding: 80px 0 0;
  } //  .carousel
  .owl-item {
    opacity: 0;
    transition: opacity .5s ease .25s;
    &.active {
      opacity: 1;
    }
  }
  .slide {
    .clearfix;
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    a {
      display: block;
      padding: 0 13%;
    }
    h3 {
      .separator(25px, @black);
      margin-bottom: 25px;
      .futura-heavy(80);
      font-size: 36px;
      line-height: 1.39;
      text-transform: uppercase;
    }
    p {
      .futura-book(0);
      font-size: 24px;
      line-height: 1.5;
      margin:auto;
      margin-bottom: 45px;
      width: 100%;
      max-width: 750px;
    }
  } //  .slide
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li {
      display: block;
      margin: 0 43px;
      button {
        position: relative;
        padding-top: 85px;
        width:auto;
        min-width:85px;
        .futura-medium(40);
        font-size: 18px;
        line-height: 2.23;
        color: @carousel-nav;
        background: none;
        transition: color .25s ease .25s;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        &:before {
          content: "";
          position: absolute;
          width: 75px;
          height: 75px;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background: @carousel-dots;
          border-radius: 50%;
          transition: background .25s ease .25s;
        }
      }
      &.active {
        button {
          color: @black;
          &:before {
            background: @yellow;
          }
        }
      }
    } //  li
  } //  .carousel-dots

  @media @mobile {
    display: none;
  } //  @mobile

} //  .home_carousel



.mccann_description {
  width: 80%;
  margin: 60px auto 30px;
  p {
    .futura-book(100);
    color: @white;
    font-size: 12px;
    line-height: 2;
    text-align: center;
  }

  @media @tablet {

    p {
      font-size: 16px;
    }

  } //  @tablet

} //  .mccann_description


ul.mccann_logos {
  padding: 65px 0 0;
  text-align: center;
  color: @white;
  &.highlight {
    .cascading_logos(10);
  } //  ul.mccann_logos.highlight
  li {
    display: block;
    margin: 0 0 65px;
    text-align: center;
    a:hover {
      svg.logo {
        opacity: 1 !important;
      }
    }
    .logo {
      fill: @white;
      opacity: .6;
      .transition(opacity 300ms ease);
    }
    &.mccann svg {
      height: 17px;
      width: 93px;
    }
    &.mrm-mccann svg {
      width: 60px;
      height: 19px;
			transform: scale(1.25);
    }
    &.mccann-health svg {
      width: 81px;
      height: 25px;
    }
    &.momentum svg {
      width: 110px;
      height: 15px;
    }
    &.craft svg {
      width: 94px;
      height: 20px;
    }
    &.pmk-bnc svg {
      width: 87px;
      height: 35px;
    }
    &.united-mccann svg {
      width: 39px;
      height: 39px;
    }
    &.weber-shandwick svg {
      width: 76px;
      height: 21px;
    }
    &.futurebrand svg {
      width: 109px;
      height: 14px;
    }
  } //  li

  @media @tablet {
    padding: 60px 0 45px;
    width: 85%;
    margin: 0 auto;
    li {
      display: inline-block;
      margin: 0 18px 30px;
      vertical-align: bottom;
      line-height: 2.5;
      &.mccann-health {
        line-height: 1;
      }
      &.momentum {
        line-height: 3;
      }

      &.craft {
        line-height: 1.5;
      }
      &.pmk-bnc {
        line-height: 0;
      }
      &.united-mccann {
        line-height: 0;
      }
    } //  li
  } //  @tablet

  @media @desktop {
    width: 100%;
  }

} //  .mccann_logos

#footer-content{
  background-color: black;
    z-index: 4;
    position: relative;
    padding-top:1px;
}




























