/* IE10+ CSS styles go here */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  /* removes white line in 'people' and 'about' */
  .container {
    width: 99% !important;
  }

  .section_news .hero .search_area input {
    width: 100% !important;
  }

  /* fixes opacity bug where nested opacity is ignored */
  .home_hero {
    .invis, .invis span, .invis .popcorn:after {
      opacity: 0;
      transition: opacity .5s ease;
    }
  }

}



/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-ime-align:auto) {

  .container {
    width: 99% !important;
  }

  .home_hero {
    .invis, .invis span, .invis .popcorn:after {
      opacity: 0;
      transition: opacity .5s ease;
    }
  }

}
