@import "variables.less";
@import "gridlex.less";
@import "mixins.less";
@import "fonts.less";
@import "normalize.less";
@import "owl.theme.less";
@import "ie10plus.less";
@import "./fa/less/fontawesome.less";
@import "./fa/less/regular.less";
@import "./fa/less/brands.less";

canvas[resize] {
  width: 100%;
  height: 100%;
}
body {
  background: @black;
  color: @black;
}

:focus {
  outline: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}



.sticky:before,
.sticky:after {
  content: "";
  display: table;
}

a {
  text-decoration: none;
  color: inherit;
}

strong, b {
  font-weight: inherit;
}
u {
  text-decoration: none;
}

/** Hide {{}} content so it doesn't show before Angular is ready **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a[ng-click] {
  cursor: pointer;
}

a#skip_nav {
  .hidetext;
  position: absolute;
  top: 2px;
  left: 2px;
  &:focus {
    z-index: 9999;
    color: @white;
    text-indent: 0;
  }
  @media @desktop {
    top: 45px;
    left: 5px;
    width: 50px;
    transform: translateY(-50%);
  }
}

.hidden {
  display: none !important;
}


/* hides "x" in Edge input fields */
input::-ms-clear {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 480px;
  @media @tablet {
    max-width: 768px;
  }
  @media @desktop {
    max-width: 1000px;
  }
  @media @desktop-wide {
    max-width: 1160px;
  }
} //  .container

body._view{
  .site_container{
    padding-top: 0;
  }
}
.site_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 480px;
  background:white;
  @media @tablet {
    max-width: 768px;
    padding-top: 90px;
  }
  
  @media @desktop {
    max-width: 1200px;
  }
  @media @desktop-wide {
    max-width: 1400px;
  }
} //  .site_container




/*****  HEADER  *****/



.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--pinned--anchor{
  transform: translateY(0%) !important;
}


.header {
  color: @white;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background: @black;
  .container {
    position: relative;
    display: table;
    height: 50px;
    .navbar-header {
      position: relative;
      display: table-cell;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      line-height: 0;
      text-align: center;
    }
  } //  .container
  .logo {
    position: relative;
    display: inline-block;
    vertical-align: center;
    height: 32px;
    width: 55px;
    .hidetext;
    background: url(../images/logo.svg) center -100px no-repeat;
    background-size: contain;
    animation: logo-in 1s ease 1s forwards;
    a, span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
    span {
      background: url(../images/logo-initial.svg) center center no-repeat;
      background-size: contain;
      animation: logoInit-out 1s ease 1s forwards;
    }
  } //  h1
  .nav_link {
    .hidetext;
    position: absolute;
    top: -50px;
    width: 55px;
    height: 50px;
    line-height: 50px;
    color: @yellow;
    font-size: 17px;
    text-align: center;
    // .transition(~"opacity 200ms ease, top 200ms ease");
    // background: rgba(255,0,0,0.5);
    opacity: 0;
    i {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      text-indent: 0;
      &:before {
        width: auto;
      }
    }
    &.visible {
      opacity: 1;
      top: 0;
      @media @tablet{
        min-width:65px;
      }
      
    }
    &.prev_button {
      width: 30px;
      left: 12px;
      &.inactive {
        pointer-events: none;
        color: #333;
      }
    }
    &.next_button {
      width: 30px;
      left: 42px;
      &.inactive {
        pointer-events: none;
        color: #333;
      }
    }
    &.menu_button {
      left: 0;
    }
    &.close_button {
      right: 0;
      i {
        font-size: 125%;
      }
    }
  } //  .navlink

  .regionalMenuButton {
    right: 0;
    display: flex;
    text-indent: 0;
    justify-content: center;
    align-items: center;
    span {
      .hidetext;
      width: 0;
      display: block;
    }
    &:before, &:after {
      &:extend([class^="icon-"]:before);
      position: static;
      display: block;
    }
    &:before {
      &:extend(.icon-globe:before);
      color: @white;
      font-size: 20px;
    }
    &:after {
      &:extend(.icon-arrow_down:before);
      font-size: 10px;
      color:#666;
      margin-left: 0.6em;
    }
    &.menuOpen{
      &:after{
        color: yellow
      }
    }
  } //  .regionalMenuButton

  .collapse {
    display: none;
    &.visible {
      display: block;
    }
  }
  .regionalMenu.collapse{
    display: none !important;
  }
  
  @media @tablet{
    ul.regionalMenu{
      &:after{
        content: '\e810';
        font-family: "fontello";
        font-style: normal;
        font-weight: normal;
        font-size: 400px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -2;
        opacity: 0.15;
      }
    }
  }

  @media screen and (max-width:1024px){
    ul.regionalMenu{

      li li{ z-index:1 }
    }
    .regionalMenu.collapse.visible{
      background-image: url('../images/grid-world.svg') !important;
      background-repeat: no-repeat !important;
      background-size: 60%!important;
      background-position-x: 50% !important;
      color:white;
    }
  }
 
  .nav .regionalMenu.collapse.visible{
    display: block !important;
  }



  .nav {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 35px 0;
    background: @black;
    -webkit-box-shadow: 0px 25px 25px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 25px 25px 25px rgba(0,0,0,0.5);
    box-shadow: 0px 25px 25px 25px rgba(0,0,0,0.5);
    height: 100vh;
    li {
      display: block;
      width: 100%;
      padding: 20px 0;
      .futura-medium(500);
      font-size: 15px;
      text-align: center;
      text-transform: uppercase;
      &.active {
        a {
          position: relative;
          padding: 10px 0;
          &:after {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 0;
            width: calc(~"100% - 6px");
            height: 0;
            border-bottom: solid 1px @yellow;
          }
        }
      } //  li.active
    } //  li
    .regionalMenu.collapse.visible{
      background:@black;
      position:absolute;
      top: 35px;
      width: 100%;
    }
    @media only screen and (max-width: 1199px){
      .regionalMenu.collapse.visible{
        height: 100%;
      }
    }
   
  } //  .nav


 
  
  @media @tablet {
    .container {
      height: 90px;
      .navbar-header {
        h1 {
          width: 33px;
          height: 51px;
          overflow: visible;
          span {
            width: 90px;
            left: -30px;
          }
          &:hover {
            animation: logo-out 1s ease 0s;
            span {
              animation: logoInit-in 1s ease 0s;
            }
          }
        } //  h1
      } //  .navbar_header
    } //  .container
    .nav_link {
      height: 90px;
      line-height: 90px;
      top: -90px;
      font-size: 27px;
    }

    .regionalMenuButton {
      right: 20px;
      &:before {
        font-size: 30px;
      }
      &:after {
        color: #666;
        font-size: 15px;
      }
    } //  .regionalMenuButton

    .nav {
      top: 90px;
      li {
        font-size: 22px;
        padding: 24px 0;
      }
    }
  } //  @tablet

  @media @desktop {
    background: @gray-bg;
    .nav_link {
      display: none;
    }

    .region_link {
      padding-right: 15px !important;
      width: 100% !important;
      &.hidden{
        visibility: hidden;
      }
    }

    ul.regionalMenu{
      &:after{
        content:none;
      }
    }

    .regionalMenuButton {
      right: auto;
      justify-content: flex-end;
      &:before {
        font-size: 26px;
      }
      &:after {
        color: @yellow;
        font-size: 12px;
        color: #666;

      }
    } //  .regionalMenuButton

    .container {
      padding: 0;
      .navbar-header {
        width: 33px;
        padding-right: 55px;
      } //  .navbar-header
      .collapse {
        display: table-cell;
        .nav {
          position: static;
          display: table;
          width: auto;
          height: 100%;
          padding: 0;
          background: none;
          border: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          li {
            display: table-cell;
            width: auto;
            vertical-align: middle;
            text-align: center;
            padding: 0 25px;
            .futura-heavy(420);
            font-size: 12px;
            text-transform: uppercase;
          }
          .regionalMenu.collapse.visible{
            box-sizing: border-box;
            display: block !important;
            position: absolute;
            top: 90px;
            right: 0;
            width: 220px;
            background:@gray-bg;
            padding: 30px 25px 40px;
            li{
              display: block !important;
              margin-bottom: 1em;
              padding:5px;
              text-align: left;
              .futura-medium(160);
              &.active a:after {
                width: calc(~"100% - 2px");
                bottom: 7px;
              }
            }
        } //  .nav
      } //  .collapse
    } //  .container

  }

    &.overlay {
      background: @black;
      .container {
        .navbar-header {
          width: auto;
          h1 {
            float: left;
          }
          .nav_link.close_button {
            display: block;
          }
        }
        .collapse .nav {
          display: none;
        }
      }
    }

  } //  @desktop

} //  .header

// override for
@media @not-desktop{
  .region_link .regionalMenuButton {
    span{
      text-indent: 0;
      width: auto;
    }
    &:before,
    &:after{
      display: none;
    }
  }
}




@keyframes logoInit-out {
  from { background-position: center 0; }
  to { background-position: center 100px; }
} //  logoInit-out
@keyframes logoInit-in {
  from { background-position: center 100px; }
  to { background-position: center 0; }
} //  logoInit-in
@keyframes logo-in {
  from { background-position: center -100px; }
  to { background-position: center 0; }
} //  logo-in
@keyframes logo-out {
  from { background-position: center 0; }
  to { background-position: center -100px; }
} //  logo-out

// anchor link css, plus position relative to make them work

a.anchorLink{
  position:absolute;
  top:-89px;
  @media @mobile{
    top: -50px !important;
  }

  .section_careers & {
    top: -260px;
  }
  .section_about_people & {
    top: -40px;
  }

}


.section_work,
.section_about_people,
.section_careers,
.section_expertise,
.section_contact,
.home_carousel{
  position:relative;
}


.visibility-hidden{
  visibility: hidden;
}




/*****  FOOTER  *****/
.footerLogo{
  @media screen and( min-width: 767px){
   display:none;
  }
  
  text-align: center;
  margin-top:95px;
  
  img{
    height:92px;
  }
}
.footer {
  display: table;
  width: 100%;
  color: @white;
  padding: 60px 0;
  text-align: center;
  text-transform: uppercase;
  background: @gray-bg;
  z-index:9;
  a {
    &:hover{
      text-decoration: underline;
    }
  }
  p {
    display: block;
    margin-top: 15px;
    .futura-medium(300);
    font-size: 9px;
  }
  ul.nav {
    display: table-header-group;
    &>li {
      position: relative;
      display: block;
      margin-bottom: 21px;
      padding-bottom: 21px;
      .futura-medium;
      font-size: 10px;
      line-height: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(~"50% - 25px");
        width: 50px;
        border-bottom: solid 1px @gray-div;
      }
      &:hover {
        text-decoration: underline;
      }
      &.followus {
        text-decoration: none;
      }
      &.expanded {
        padding-bottom: 0;
        &:after {
          display: none;
        }
      }
      &.collapsed {
        ul.social {
          display: none;
        }
      }
    } //  ul.nav > li
    ul.social {
      margin-top: 10px;
      padding: 10px 0;
      &.closed {
        display:none;
      }
      li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: @black;
        font-size: 15px;
        background: rgba(255,255,255,.3);
        border-radius: 50%;
        &:hover {
          background: @white;
        }
        a {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          .hidetext;
          width: 100%;
          height: 100%;
          color: @white;
        }
      } //  li
    } //  ul.social
  } //  ul.nav

  @media @tablet {
    position: relative;
    padding: 50px 0 120px;
    p {
      margin-top: 0;
      display: inline-block;
      font-size: 11px;
    }
    ul.nav {
      display: inline-block;
      margin-left: 10px;
      &>li {
        display: inline-block;
        padding: 2px 15px;
        font-size: 11px;
        &:after {
          display: none;
        }
        &:last-child {
          border-left: solid 2px @gray-dot;
        }
        &.followus {
          position: absolute;
          left: 0;
          bottom: 55px;
          margin: 0;
          padding: 0;
          width: 100%;
          ul.social {
            display: block;
            li {
              width: 45px;
              height: 45px;
              line-height: 42px;
              font-size: 21px;
              &.li i {
                margin-left: 2px;
              }
            }
          }
        } //  li.followus
      } //  ul.nav > li
    } //  ul.nav
  } //  @tablet

} //  .footer

// set a pseudo element for MQ based mobile detection
@media @mobile {
  body:after {
    content: 'mobile';
    display: none;
    // color: #fff;
  }

  ul.nav.navbar-nav{
   
  }

}

div.four04 {
  width: 50%;
  min-width: 240px;
  margin: 0 auto;
  padding: 90px 0;
  color: @white;
  h1 {
    margin: 0 0 35px;
    .futura-heavy(60);
    font-size: 120px;
    line-height: 1;
  }
  h2 {
    margin: 0 0 60px;
    .futura-heavy(200);
    font-size: 45px;
    line-height: 1;
    text-transform: uppercase;
  }
  p {
    .futura-medium(300);
    font-size: 16px;
    line-height: 1.8;
    text-transform: uppercase;
  }
  a {
    border-bottom: solid 1px @white;
  }

  @media @tablet {
    min-height: 475px;
    padding: 90px 8% 90px 16%;
  }

}


/*****  GENERIC pages  *****/


.overlay_content {
  background: @white;
}


/*****  INDIVIDUAL pages  *****/


@import "home.less";
@import "work.less";
@import "expertise.less";
@import "about.less";
@import "news.less";
@import "careers.less";
@import "contact.less";
@import "privacy.less";



/** Hide/show animations **/
.fade.ng-hide {
  opacity: 0;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

// .fade.ng-hide-remove,
// .fade.ng-hide-add {
//   display: block !important;
// }

.fade.ng-hide-remove {
  transition: all linear 500ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}









