.clearfix () {
  &:before,
  &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

.hidetext {
  text-indent: -9999em;
  overflow: hidden;
}

.centering_outer {
  display: table;
  width: 100%;
  height: 100%;
  min-height: inherit;
  .centering_inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}


.mobileOnly {
  display: block !important;
  @media @tablet {
    display: none !important;
  }
}
.desktopOnly {
  display: none;
  @media @tablet {
    display: block;
  }
}


.mobileWrap {
  display: block;
  @media @tablet {
    display: inline;
  }
}
.nowrap {
  display: inline-block;
}

//per creative review, the height is 3px for all mobile separators and 2px for desktop/tablet
.separator (@padding-bottom: 0, @color: white) {
  position: relative;
  padding-bottom: unit(@padding-bottom, px);
  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: calc(~"50% - 15px");
    width: 30px;
    border-bottom: solid 3px @color;
    @media @tablet {
      content: "";
      left: calc(~"50% - 15px");
      width: 24px;
      border-bottom-width: 2px;
    }
  }
}

.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}


.cascading_logos(@n, @i:1) when (@i =< @n) {
  li:nth-child(@{i}) {
    a .logo {
      @s: (@i / 10);
      animation: logosOn 1s 1 ease ~"@{s}s";
    }
  }
  .cascading_logos(@n, (@i + 1));
}









