@keyframes search-button {
  0% { right: 0; top: 0; }
  99% { right: 90px; opacity: 1 }
  100% { opacity: 0; top: 0; }
}



.section_news {

  color: @white;
  .hero {
    position: relative;
    // overflow: hidden;
    background: @gray;
    .search_link {
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 90px;
      height: 90px;
      .hidetext;
      color: @black;
      background: @yellow;
      transform-origin: top;
      opacity: 1;
      .transition(~"right 150ms ease 250ms, z-index 0ms ease");
      &:hover {
        opacity: .6;
      }
      &.hidden {
        right: 90px;
        z-index: -1;
        .transition(~"right 50ms ease 25ms, z-index 0ms ease 150ms");
      }
      i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 28px 25px;
        font-size: 30px;
        text-indent: 0;
      }
    } //  .search_link
    .search_area {
      position: absolute;
      height: 90px;
      width: 0;
      right: 0;
      top: 0;
      overflow: hidden;
      background: @white;
      z-index: 1;
      opacity: 1;
      .transition(all 500ms ease);
      form {
        display: table;
        width: 100%;
        height: 100%;
      }
      input {
        display: table-cell;
        height: 90px;
        width: calc(~"100% - 90px");
        // padding-right: 10px;
        // padding-left: 10px;
        text-indent: 10%;
        .futura-light(25);
        font-size: 36px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          // text-indent: 8.5% !important;
          // border: 1px solid red;
        }
      }
      button {
        &:extend(.section_news .hero .search_link all);
        position: relative;
        display: table-cell !important;
        vertical-align: top;
        &:focus {
          outline: none;
        }
      }
      .cancel_link {
        position: relative;
        display: table-cell;
        width: 90px;
        color: @black;
        .hidetext;
        i {
          position: absolute;
          top: 0;
          right: 0;
          padding: 30px 25px;
          font-size: 30px;
          text-indent: 0;
        }
      }
    } //  .search_area
    .slide {
      display: block;
      height: calc(~"100vh - 90px");
      text-align: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
      }
      &.slide_1 { background-color: @gray; color: @white !important; }
      &.slide_2 { background-color: @blue-lighter; }
      &.slide_3 { background-color: @blue; }
      &.slide_4 { background-color: @gray-lighter; }
      &.no_image {
        color: @black;
        &:before {
          display: none;
        }
        h2 {
          padding-bottom: 0;
          &:after {
            display: none;
          }
        }
      } //  .slide.no_image
      a {
        display: block;
        padding: 0 9%;
        &:hover {
          span.tag {
            text-decoration: underline;
          }
        }
      }
      .logo {
        display: inline-block;
        max-height: 100%;
        margin-bottom: 60px;
      }
      h2 {
        .futura-book(50);
        font-size: 26px;
        line-height: 1.55;
        .separator(25);
      }
      span.tag {
        position: relative;
        margin-top: 35px;
      }
    } //  .slide
  } //  .hero
  .col {
    min-height: 320px;
    .centering_inner {
      padding: 10%;
      text-align: center;
    }
    &.no-results {
      background: none !important;
      h3 {
        padding: 0;
        color: @white;
        &:after {
          display: none;
        }
        strong {
          font-weight: bold;
        }
      }
    } //  .no-results
  } //  .col
  div[class*="grid"] {
    color: @black;
    div[class*="col"]:nth-child(4n+1) {
      background: @blue;
    }
    div[class*="col"]:nth-child(4n+2) {
      background: @gray;
      color: @white;
      h3:after {
        border-color: @white;
      }
    }
    div[class*="col"]:nth-child(4n+3) {
      background: @blue-lighter;
    }
    div[class*="col"]:nth-child(4n+4) {
      background: @gray-lighter;
    }
  } //  .grid-
  h3 {
    .futura-book();
    font-size: 20px;
    line-height: 1.5;
    .separator(20, @black);
  }
  span.tag {
    display: block;
    margin-top: 20px;
    .futura-heavy(200);
    font-size: 15px;
    line-height: 1.35;
    text-transform: uppercase;
  }
  a:hover {
    span.tag {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: @break-mobile) and (orientation: landscape) {
    .hero {
      .slide {
        a {
          padding: 0 5%;
        }
        .logo {
          max-height: 50px;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 17px;
        }
        span.tag {
          font-size: 12px;
        }
      }
    }
  }

  @media @mobile {
    .search_area,
    .search_link {
      display: none;
    }
  }

  @media @tablet {
    .hero {
      .search_link {
        display: block;
      }
      .search_area {
        &.visible {
          // display: block;
          // margin-bottom: 0px;
          // left: 0%;
          opacity: 1;
          width: 100%;
          padding-right: 0;
          // transform: scaleY(1);
        }
      }
      .carousel {
        height: 100%;
        overflow: hidden;
        // transition: all .5s ease-in;
      }
      .owl-pagination {
        opacity: 1;
        transition: all .5s ease-in;
      }
      .slide {
        height: 520px;
        transition: all .5s ease-in;
        a {
          padding: 0 13%;
        }
        h2 {
          .futura-light(50);
          line-height: 1.3;
          padding-bottom: 22px;
        }
        span.tag {
          font-size: 14px;
          margin-top: 20px;
        }
      }
      &.search_active {
        margin-bottom: 50px;
        .carousel {
          height: 90px;
        }
        .owl-pagination {
          height: 0;
        }
        .slide {
          height: 0;
        }
      }
    } //  .hero
    .col {
      min-height: 300px;
    }
    h3 {
      font-size: 24px;
    }
    span.tag {
      margin-top: 20px;
      font-size: 12px;
    }
  } //  @tablet

  @media @desktop {
    .hero {
      .search_area {
        // padding-left: 90px;
        // padding-right: 90px;
        padding: 0;
      }
      .slide {
        height: 545px;
        a {
          padding: 0 16%;
        }
        h2 {
          font-size: 38px;
        }
      }
    }
    .col {
      min-height: 333px;
    }
    div[class*="grid"] {
      div[class*="col"] {
        &:nth-child(10n + 1),
        &:nth-child(10n + 5),
        &:nth-child(10n + 6) {
          background: @blue;
          color: @black;
          h3:after {
            border-color: @black;
          }
        }
        &:nth-child(10n + 2) {
          background: @blue-lighter;
          color: @black;
          h3:after {
            border-color: @black;
          }
        }
        &:nth-child(10n + 3) {
          background: @gray-lighter;
          color: @black;
          h3:after {
            border-color: @black;
          }
        }
        &:nth-child(10n + 7) {
          background: @gray;
          color: @white;
          h3:after {
            border-color: @white;
          }
        }
        &:nth-child(10n + 8),
        &:nth-child(10n + 9) {
          background: @blue-light;
          color: @black;
          h3:after {
            border-color: @black;
          }
        }
        &:nth-child(10n + 4),
        &:nth-child(10n + 10) {
          flex-basis: 66.6666%;
          max-width: 66.6666%;
          background: @white;
          color: @black;
          h3:after {
            border-color: @black;
          }
        }
      } //  .col-
    } //  .grid-
  } //  @desktop

} //  .section_news

.animate {
}

.animate.ng-move,
.animate.ng-enter,
.animate.ng-leave {
  .transition(all 500ms ease);
}

.animate.ng-leave.ng-leave-active,
.animate.ng-move,
.animate.ng-enter {
  opacity: 0;
  max-height: 0;
}

.animate.ng-leave,
.animate.ng-move.ng-move-active,
.animate.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 100px;
}
