.owl-carousel {
  height: 100%;
}

.owl-theme .owl-controls{
  display: block;
  width: 100%;
	text-align: center;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	opacity: 1;
	text-decoration: none;
}

/* preloading images */

.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
