.section_privacy {
  .clearfix;
  background: @white;

  .about_text {
    max-width: 80%;
    margin: 0 auto;
    @media @desktop {
      max-width: 800px;
      margin-top: 170px;
    }
  }

  ol{
    list-style: decimal; 
    margin-left: 45px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 45px;
    font-family: 'Futura LT W01 Book',Futura,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .075em;
  }

  .indent {
    margin-left: 45px;
    @media @mobile {
      margin-left: 25px;
    }
  }

  p, ul {
   .futura-book;
   font-size: 18px;
   line-height: 1.6;
   margin-bottom: 45px;
   @media @mobile {
    font-size: 15px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;



    }
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  ul {
    list-style: disc;
    margin-left: 45px;
    
    ul {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    @media @mobile {
      margin-left: 25px;
    }
  }

  h2, h3 {
    position: relative;
    .futura-heavy;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top:15px;
    margin-bottom: 15px;;
    @media @mobile {
      font-size: 15px;
    }
  }

  h2.date{
    margin-bottom: 70px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -35px;
      width: 24px;
      height: 0;
      border-bottom: solid 2px @black;
    }
  }

  h1 {
   .futura-heavy;
   font-size: 26px;
   line-height: 1.6;
   margin-top: 80px;
   text-transform: uppercase;
  }

  p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 45px;
  }
  p > em{
    font-weight: 700;
  }
}


#optanon-cookie-policy {
  p, ul {
    margin-bottom: 20px;
  }
  table p, table ul {
    margin-bottom: 0;
    margin-top: 0;
  }
  table ul {
    margin-left: 10px;
  }
}



.optanon-alert-box-logo {
  display: none;
}

#optanon #optanon-popup-top .optanon-close,
.optanon-alert-box-wrapper .optanon-alert-box-corner-close button {
  background: none;
  right: 20px;
  &:extend([class^="icon-"] all);
  &:extend(.icon-close all);
  color: @yellow;
  font-size: 20px;
}
#optanon #optanon-popup-top .optanon-close {
  top: 15px;
}

.optanon-alert-box-wrapper {
  box-sizing: border-box;
  padding: 0 5% 0 5%;
  background: rgba(40,40,40,.92) !important;
  .optanon-alert-box-bottom-top,
  .optanon-alert-box-bottom-padding {
    height: 0;
  }
  .optanon-alert-box-bottom-top {
    position: relative;
    margin: 0 auto;
    max-width: 778px;
    .optanon-alert-box-corner-close {
      margin-top: 0;
      top: 15px;
      right: -30px;
      button {
        width: 32px;
        &:focus {
          outline: initial;
          border: dotted 1px @white;
        }
      }
    }
  }
  .optanon-alert-box-bg {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 0;
    max-width: 675px;
    text-align: center;
    .optanon-alert-box-body {
      margin: 0 !important;
      padding-right: 30px;
    }
    p {
      .futura-book(75);
      font-size: 12px;
      line-height: 1.5;
    }
  }
  .optanon-alert-box-button-container {
    position: static;
    display: inline-block;
    padding-right: 0;
    margin-top: 15px;
    top: 0;
    .optanon-alert-box-button {
      float: none;
      margin-right: 0;
      margin-bottom: 0;
    }
    .optanon-alert-box-button-middle {
      border: none;
      padding: 0 !important;
      button {
        padding: 8px 18px;
        color: @black !important;
        .futura-heavy(300);
        text-transform: uppercase;
        background: @yellow !important;
        &:before {
          display: none;
        }
        &:focus {
          border: dotted 1px @black;
        }
      }
    }
  }

  @media @tablet {
    padding: 0 5%;
    .optanon-alert-box-bg {
      padding: 35px 250px 35px 0;
      .optanon-alert-box-button-container {
        position: absolute;
        margin-top: 0;
        top: 45px;
        right: 30px;
      }
    }
  }

  @media @desktop {
    .optanon-alert-box-bottom-top {
      max-width: 1000px;
      .optanon-alert-box-corner-close {
        right: 0;
      }
    }
    .optanon-alert-box-bg {
      max-width: 835px;
      padding-right: 250px;
      .optanon-alert-box-button-container {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

} // .optanon-alert-box-wrapper


#optanon {
  #optanon-popup-top {
    background: @black;
    border-bottom: 0;
  }
  #optanon-popup-bottom {
    padding-bottom: 7px;
    border-top: 0;
    background: @black;
  }
  #optanon-menu {
    li {
      background: @black-light !important;
      border-bottom: solid 1px @gray-btn-bg;
      .preference-menu-item {
        button, a {
          color: @gray-lightest;
        }
      }
      &.menu-item-selected {
        background: none !important;
        .preference-menu-item {
          button, a {
            color: @black;
          }
        }
      }
    }
  }
  #optanon-popup-body .legacy-preference-banner-title {
    .futura-medium;
    line-height: 1.3;
    text-transform: uppercase;
    @media @tablet {
      color: @white;
    }
  }
  #optanon-popup-body-right {
    float: left;
  }
  #optanon-popup-body-left-shading {
    display: none;
  }
  #optanon-popup-bottom-logo {
    &:before, &:after {
      color: @gray-lightest;
    }
  }
  #optanon-popup-wrapper {
    .optanon-button-wrapper {
      margin-top: 7px;
    }
    .optanon-white-button-middle button {
      .futura-heavy(300);
      text-transform: uppercase;
    }
    .optanon-allow-all-button {
      display: block;
      .optanon-white-button-middle {
        margin-right: 10px;
        background: @yellow !important;
        button {
          color: @black !important;
        }
      }
    }
    .optanon-save-settings-button .optanon-white-button-middle {
      background: @gray-btn-bg;
      button {
        color: @gray-lightest !important;
      }
    }
  }

  .fieldset input:checked + label {
    background-color: @teal;
  }
  #optanon-popup-wrapper .optanon-status-on {
    color: @teal;
  }

  @media @mobile {
    #optanon-popup-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #optanon-popup-wrapper .optanon-button-wrapper {
      display: inline-block;
      float: none;
      margin-right: 0;
    }
  }

} //  #optanon




