/*    COLORS    */

//  defined at top of spec
@white:           #fff;
@black:           #000;
@yellow:          #fefc09;
@gray-light:      #e5e5e1;

//  gleaned from within spec
@gray-bg:         #202123;
@gray-div:        #4b4a4a;
@gray-dot:        #88898a;
@gray-btn-bg:     #313234;
@gray-inactive:   #988b8b;

//  tile colors
@blue:            #7fc7d4;
@blue-light:      #bad7db;
@blue-lighter:    #d7e8ea;
@gray:            #3b3d41;
@gray-lighter:    #8f9ea5;
@gray-lightest:   #b8b7b7;

//  new colors for regional
@carousel-nav:    #707c80;
@carousel-dots:   #b8c1cb;
@gray-bg-jobs:    #f7f7f6;

//  added later
@black-light: #1d1e20;
@teal:        #0c80a7;


/*    BREAK POINTS    */
@break-mobile:			767px;
@break-tablet:			768px;
@break-desktop:     1200px;
@break-large:		    1400px;

@tablet-ceil:       (@break-desktop - 1);
@desktop-ceil:      (@break-large - 1);

@mobile:         ~"only screen and (max-width: @{break-mobile})";
@tablet:         ~"only screen and (min-width: @{break-tablet})";
@not-desktop:    ~"only screen and (max-width: @{tablet-ceil})";
@desktop:        ~"only screen and (min-width: @{break-desktop})";
@desktop-wide:   ~"only screen and (min-width: @{break-large})";
@tablet-only:    ~"only screen and (min-width: @{break-tablet}) and (max-width: @{break-desktop})";


