.section_work {
  z-index: 2;

  .clearfix;
  color: @white;
  background: @white;
  .work_link {
    min-height: 520px;
    .centering_inner {
      padding: 5% 20%;
      text-align: center;
    }
    .bg_image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: transform .5s ease;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
      }
      &.horz {
        display: none;
      }
    } //  .bg_image
    a {
      position: relative;
      overflow: hidden;
      min-height: inherit;
      height: 100%;
      &:hover {
        .bg_image {
          transform: scale(1.25);
        }
      }
    } //  a
    .work_title {
      position: relative;
      .separator(30, @white);
      margin-bottom: 25px;
      .futura-book(360);
      font-size: 15px;
      line-height: 1.35;
      text-transform: uppercase;
    }
    .work_subtitle {
      position: relative;
      .futura-heavy(150);
      font-size: 26px;
      line-height: 1.4;
      span {
        display: inline-block;
      }
    }
  } //  .work_link

  .brands_area {
    position: relative;
    background: @black;
    .brands_nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      li {
        position: absolute;
        top: -6px;
        a {
          .hidetext;
          display: block;
          width: 100%;
          height: 100%;
          width: 40px;
          height: 40px;
          color: @yellow;
          font-size: 15px;
          line-height: 40px;
          text-align: center;
          i {
            position: absolute;
            left: 0;
            width: 100%;
            text-indent: 0;
          }
        }
        &.prev {
          left: 6%;
        }
        &.next {
          right: 6%;
        }
        &.scroll {
          position: absolute;
          top: -80px;
          width: 100%;
          a {
            position: relative;
            margin: 0 auto;
            color: @black;
            background: @yellow;
            border-radius: 50%;
          }
        }
      } //  li
    } //  .brands_nav
    ul.brand_logos {
      &.highlight {
        .cascading_logos(10);
      } //  ul.brand_logos.highlight

      li {
        display: block;
        margin: 65px 0;
        text-align: center;
        a {
          position: relative;
          display: inline-block;
          .logo {
            opacity: .6;
          }
        } //  a
        &.active .logo {
          opacity: 1 !important;
        }
        &:hover .logo {
          opacity: 1 !important;
        }
      } //  li
    } //  .brand_logos
  } //  .brands_area

  @keyframes logosOn {
    0% {
    }
    60% {
      opacity: 1;
    }
    100% {
    }
  }

  @media @mobile {
    .brands_nav {
      opacity: 0;
      // .transition(opacity 300ms ease);
      .prev,
      .next {
        &.inactive a {
          color: #333;
          pointer-events: none;
        }
      }
    }
    .brands_area.active {
      .brands_nav {
        // display: block !important;
        opacity: 1;
      }
      ul.brand_logos {
        li {
          display: none;
          &.active {
            // display: block;
            // margin-bottom: 0;
            // margin-top: 55px;
          }
          &.slug {
            display: none;
          }
          &.shown {
            display: block;
          }
          &.shown.active {
            display: block;
          }
        }
      } //  ul
    } //  .brands_area.active
  } //  @mobile

  @media @tablet {
    padding-bottom: 55px;
    .work_link {
      min-height: 225px;
      .bg_image {
        &.horz {
          display: block;
        }
        &.vert {
          display: none;
        }
      }
      .work_title {
        padding-bottom: 15px;
        margin-bottom: 10px;
        .futura-medium(200);
        font-size: 14px;
      }
      .work_subtitle {
        .futura-heavy(100);
        font-size: 24px;
      }
    } //  .work_link
    .brands_area {
      padding: 75px 0 0;
      .brands_nav {
        top: 60px;
        li.prev, li.next {
          display: none;
        }
      }
      ul.brand_logos {
        display: block;
        width: 100%;
        li {
          display: inline-block;
          margin: 0;
          width: 19%;
          vertical-align: bottom;
          &.active {
            a {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 100%;
                height: 1px;
                background: @yellow;
              }
            }
          } //  li.active
          &:nth-child(n+6) {
            margin-top: 50px;
            margin-bottom: 75px;
          } // items 5 through 10
        } // li
      } //  ul
    } //  .logos
  } //  @tablet

  @media @desktop {
    .work_link {
      min-height: 375px;
    }
    .brands_area {
      ul.brand_logos {
        width: 110%;
        margin-left: -5%;
      }
    }
  } //  @desktop

} //  .section_work



.overlay_work_detail {
  .webring {
    display: none;
  } //  .webring
  .hero {
    width: 100%;
    height: 320px;
    margin-bottom: 0;
    .vimeo_action:focus {
      .play {
        border: dotted 1px @white !important;
      }
    } //  end ADA focus for play button
    >* {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      position: relative;
      overflow: hidden;
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        // opacity: 0.5;
        // .transition(opacity 300ms ease);
        &.active {
          // opacity: 1;
        }
      }
      .play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        z-index: 10;
        .transition(all 300ms ease);
        pointer-events: none;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-40%, -50%) scale(.75);
          height: 0;
          border-top: 21px solid transparent;
          border-bottom: 21px solid transparent;
          border-left: 27px solid @white;
        }
        &.hide {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
      }
      .poster {
        // width: 100%;
        height: 100%;
        opacity: 1;
        position: relative;
        z-index: 10;
        // .transition(~"opacity 300ms ease, z-index 0ms 500ms");
        transform-origin: center center;
        background-size: cover;
        background-position: 50% 50%;
        .transition(all 300ms ease);
        &:hover {
          transform: scale(1.25);
          cursor: pointer;
        }
        &.active {
          opacity: 0;
          z-index: -1;
          ~ .play {
            transform: translate(-50%, -50%) scale(1.5);
            opacity: 0;
          }
        }
      }
    } //  .hero > *
  } //  .hero
  .work_detail {
    display: flex;
    flex-flow: row wrap;
    .clearfix;
    section {
      flex: 1 100%;
      margin-left: 9%;
      margin-right: 9%;
      text-align: center;
    }
  } //  .work_detail
  h4 {
    margin-bottom: 25px;
    .futura-heavy(300);
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  h3 {
    margin-bottom: 45px;
    .futura-heavy(150);
    font-size: 26px;
    line-height: 1.4;
  }
  p, li {
    .futura-book;
    font-size: 15px;
    line-height: 1.8;
  }
  .intro {
    order: 1;
    margin-bottom: 25px;
    h4 {
      .separator(30, @black);
    }
    p {
      margin-bottom: 25px;
    }
  }
  .role {
    order: 2;
    margin-bottom: 50px;
    p {
      .futura-light;
      font-size: 24px;
      line-height: 1.3;
    }
  }
  .awards {
    order: 3;
    margin-bottom: 50px;
    &.hidden {
      display: none;
    }
    .award_holder {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      &>div {
        flex: 1 50%;
        max-width: 50%;
        margin-bottom: 50px;
      }
      img {
        width: 50%;
      }
    } //  .award_holder
  } //  .awards
  .extra {
    order: 4;
    margin-bottom: 65px;
    .tags {
      li {
        display: inline;
        &:after {
          content: ", ";
        }
        &:last-child:after {
          display: none;
        }
      }
    } //  .tags
  } //  .extra

  @media @mobile {
    .work_detail {
      .role {
        margin-left: 0;
        margin-right: 0;
        padding: 0 9%;
        background: @gray-light;
        border-top: solid 1px @gray-light;
        border-bottom: solid 1px @gray-light;
        h4 {
          margin-top: 50px;
          &:empty {
            display: none;
          }
        }
        p {
          margin-bottom: 50px;
          &:empty {
            display: none;
          }
        }
      } //  .role
      .agencies {
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 50px;
        &:after {
          content: "";
          position: absolute;
          z-index: 2;
          bottom: 0;
          left: calc(~"50% - 38px");
          width: 75px;
          border-bottom: solid 2px @black;
        }
      } //  .agencies
    } //  .work_detail
  } //  @mobile


  @media @tablet {
    .hero {
      height: 440px;
      margin-bottom: 85px;
    }
    .work_detail {
      margin: 0 16%;
      section {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
      }
    } //  .work_detail
    h4 {
      margin-bottom: 30px;
      font-size: 14px;
    }
    h3 {
      .futura-heavy(100);
      font-size: 36px;
    }
    p {
      .futura-medium(75);
      font-size: 18px;
    }
    li {
      .futura-book(75);
      font-size: 18px;
    }
    .intro {
      order: 1;
      margin-bottom: 50px;
      h4 {
        padding-bottom: 20px;
        margin-bottom: 15px;
        &:after {
          left: 0;
        }
      }
    } //  .intro
    .awards {
      order: 2;
      margin-bottom: 25px;
      h4 {
        display: none;
      }
      .award_holder {
        align-items: center;
        &>div {
          flex: none;
          max-width: 120px;
          margin-right: 50px;
          img {
            float: left;
            width: auto;
            max-width: 120px;
          }
        }
      }
    } //  .awards
    .role {
      order: 3;
      margin-bottom: 80px;
    }
    .extra {
      order: 4;
      display: table;
      width: 100%;
      margin-bottom: 110px;
      &>div {
        display: table-cell;
        width: 47%;
      }
      .tags {
        padding-left: 5%;
      }
    } //  .extra
  } //  @tablet

  @media @desktop {
    .hero {
      height: 675px;
    }
    .webring {
      display: table;
      height: 110px;
      width: calc(~"100% - 200px");
      padding: 0 100px;
      background: @gray-light;
      .hidden {
        visibility: hidden;
      }
      a.close {
        position: static;
        left: auto;
        display: table-cell;
        vertical-align: middle;
        width: 10%;
        color: @black;
        text-align: center;
        line-height: 0;
        .hidetext;
        i {
          display: block;
          text-indent: 0;
          font-size: 32px;
          &:before {
            margin: 0 auto;
            content: '\e80b';
          }
        }
      } //  .close
      &>* {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: yellow;
        font-size: 17px;
        text-transform: uppercase;
        &.hidden {
          // visibility: hidden;
          color: #333;
          pointer-events: none;
          cursor: default;
        }
      } //  .webring div
      &>div {
        width: 45%;
        a {
          display: inline-block;
          position: relative;
          height: auto;
          color: @black;
          font-size: 12px;
          line-height: 1.35;
          span {
            display: block;
            &.co {
              .futura-heavy(200);
            }
            &.campaign {
              .futura-medium(200);
            }
          }
          &:before {
            content: "" !important;
            position: absolute;
            top: 10px;
            width: 0;
            height: 1px;
            border: solid 5px transparent;
          }
          &:after {
            content: "";
            position: absolute;
            top: 15px;
            width: 50px;
            border-bottom: solid 1px @black;
          }
        } //  a
        &.prev {
          text-align: left;
          a {
            padding-left: 65px;
            &:before {
              left: -10px;
              border-right-color: @black;
            }
            &:after {
              left: 0;
            }
          }
        } //  .webring .prev
        &.next {
          text-align: right;
          a {
            padding-right: 65px;
            &:before {
              right: -10px;
              border-left-color: @black;
            }
            &:after {
              right: 0;
            }
          }
        } //  .webring .next
      } //  .webring div
    } //  .webring
    .work_detail {
      display: block;
      margin: 0 100px;
      section {
        display: block;
        float: left;
        width: calc(~"100% - 230px");
      }
      p {
        .futura-medium(75);
        font-size: 24px;
        line-height: 1.5;
      }
      li {
        line-height: 1.6;
      }
      .awards {
        float: right;
        width: 130px;
        min-height: 200px;
        .award_holder {
          justify-content: center;
          margin-top: 40px;
          &>div {
            margin: 0 0 80px 0;
            img {
              float: none;
              display: inline-block;
            }
          }
        }
      } //  .awards
      .extra {
        width: 550px;
        &>div {
          width: 44%;
        }
        .tags {
          padding-left: 10%;
        }
      }
    } //  .work_detail
  } //  @desktop

  @media @desktop-wide {
    .hero {
      height: 785px;
    }
  } //  @desktop-wide

} //  .overlay_work_detail


.brand_detail {
  padding-top: 55px;
  h2 {
    margin-bottom: 40px;
    .futura-light(75);
    font-size: 21px;
    line-height: 1.4;
  }
  p {
    margin-bottom: 65px;
    .futura-book(75);
    font-size: 15px;
    line-height: 1.8;
  }
  img {
    width: 100px;
  }
  .work_link {
    min-height: 140px;
    height: 42vw;
    max-height: 200px;
    .centering_inner {
      padding-left: 6%;
      padding-right: 6%;
    }
    .bg_image {
      &.vert {
        display: none;
      }
      &.horz {
        display: block;
      }
    }
    h4 {
      display: none;
    }
    h3 {
      .futura-heavy(200);
      font-size: 15px;
    }
  }

  @media @mobile {
    text-align: center;
    padding-top: 0;
    &>div[class*="grid"] {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  @media @tablet {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 25px;
    h2 {
      .futura-medium(150);
      font-size: 26px;
      line-height: 1.5;
    }
    p {
      margin-bottom: 100px;
      .futura-light(100);
    }
    &>.container {
      margin-bottom: 100px;
    }
    .work_link {
      max-height: 225px;
      .work_subtitle {
        .futura-heavy(100);
        font-size: 24px;
      }
    }
  } //  @tablet

  @media @desktop {
    max-width: 100%;
    padding-top: 75px;
    p {
      font-size: 18px;
    }
    .work_link {
      max-height: 315px;
    }
  } //  @desktop

} //  .brand_detail



